body
  color: #8c8c8c
  background-color: #fcfcfc
.wrapper
  padding: 54px 6.5% 0
  min-height: 90%

#flash
  float: right
  width: 67%
  position: absolute
  margin-left: 25%
  z-index: 1000

.alert-notice
  background-color: #C8E9EE
  border-color: #60C1CF
  color: #002D67

.soften
  clear: both
  margin: 0

a
  color: $blue
  &:hover
    color: $blueLight
