//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px)
  

  .menu-toolbar
    width: 35px !important
    float: left
    h2
      @extend .hidden-tablet

  #oauth2_server
    width: 86.97872% !important
    margin-left: 11% !important
