//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)

  .menu-toolbar
    width: 100% !important
    h5,
    h2
      @extend .hidden-phone
    ul.main_nav
      width: 60%
      margin: 0 20%
      li.home,
      li.organizations,
      li.my-applications,
      li.members
        width: 20%
      li.home
        display: inline
      li.organizations,
      li.my-applications,
      li.members
        display: inline-block
      li.organizations,
      li.members
        margin-left: 30%
      li.my-applications
        float: right



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)


