//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)

  .menu-toolbar
    width: 100% !important
    position: relative
    h5,
    h2
      @extend .hidden-phone
    ul.main_nav
      width: 96%
      margin: 0 auto
      hr.soften
        float: left
        margin: 0 15px
        width: 1px
        height: 45px
        clear: none
        border-left: 2px solid #E2E2E2
      li
        float: left
        margin: 0 10px




// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)


