#user,
#organization
  margin-top: 32px
  header
    margin-bottom: 8px
    h3
      margin: 0px
      line-height: 20px
      float: left
    img
      float: right
      margin: -21px 30px -88px 0
  .organizations-list
    .organization
      @include contact
      min-height: 50px
      padding-top: 10px
      .data
        width: 80%
        max-height: 60px
        min-height: 59px
        .name
          display: inline
        a
          &:last-child
            display: inline-block
            width: auto
  .personal_info
    div
      header
        margin-bottom: 0px
        font-size: 18px
        color: $principalColor
        font-family: $serifFontFamily
      .result
        margin-bottom: 18px
        margin-left: 20px
        padding-top: 5px
        border-top: 1px solid #C1C1C1
        color: #929292
      .accordion-group
        border: none
        .accordion-heading
          text-align: right
        .accordion-inner
          border: none
          padding: 0px
          .content
            padding: 0px
    