#user,
#organization
  margin-top: 32px
  header
    margin-bottom: 8px
    h3
      margin: 0px
      line-height: 20px
      float: left
    img
      float: right
      margin: -21px 30px -88px 0

  .organizations-list,
  .applications-list,
    .application,
    .organization
      padding-top: 6px
      &:first-child
        padding-top: 0px
      img
        width: 40px
        height: 40px
        float: left
        margin-top: 2px
      .data
        width: 91% !important
        max-height: 52px
        min-height: 50px
        display: inline-block
        margin-left: 6px
        .name
          display: inline
          a
            color: $gray
            width: auto !important
        
      .team
        width: 16%
        text-align: right
        display: inline-block
        float: right
        span
          color: $principalColor
  
  .applications
    width: auto !important
  .applications-list
    ul
      @include application

  .organizations-list,
    .organization
      @include contact
      padding-top: 5px
      margin-bottom: -1px !important
      .data
        margin-left: 56px
        .description
          @include ellipsis

  .personal_info
    div
      header
        margin-bottom: 0px
        font-size: 18px
        color: $principalColor
        font-family: $serifFontFamily
      .result
        margin-bottom: 2px
        padding-top: 5px
        border-top: 1px solid #A5CACF
        color: #929292

      .accordion-group
        border: none
        .accordion-heading
          text-align: right
        .accordion-inner
          border: none
          padding: 0px
          .content
            padding: 0px

    .ocupation
      .result
        border-top: rgba(0, 0, 0, 0) !important
    .city
      .result
        min-height: 40px
    .city,
    .ocupation
      .result
        width: 90%

  .members
    margin: 0 0 43px 2.5%
    .member-list
      @include principal-box
      @include contact
      padding: 10px 14px 10px 
      .contact
        min-height: 50px
        padding-top: 6px
        @include follow
        .avatar
          margin-top: -3px
        .data
          width: 200px



#organization
  .personal_info
    .ocupation
      .result
        border-top: 1px solid #A5CACF !important
        min-height: 50px


.content
  .accordion
    clear: both
    .accordion-group
      border: none
      .accordion-heading
        text-align: right
      .accordion-inner
        border: none
        padding: 0px
        .content
          padding: 0px


      