/*header.navbar{
  position: fixed;
  width: 96%;
  height: 35px;
  padding: 1px 2% 1px;
  z-index: 2000000;
}

nav.navbar-inner .logo-header{
  display: inline;
}

.logo-header  img{
  width: 60px;
  padding-top: 0;
}

.logo-header .brand{
  padding: 0;
  width: auto;
  float: none;
  margin: -1px 0 0 3px;
  font-family: "NeoTechRegular";
  font-weight: normal;
}

.logo-header .brand a{
  font-size: 23px;
}

.mobile{
  display: none;
  margin-top: 8px;
}

.mobile .dropdown-menu { 
  margin-left: -67px;
  min-width: 90px;
  background-color: rgb(244, 244, 244);
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  margin-top: 0px;
  color: #333;
}

.mobile .dropdown-menu .active a {
  background-color: $blueLight;
  background-image: none;
  color: #60C1CF;
}

.mobile .dropdown-menu .active a:hover,
.mobile .dropdown-menu .active a:focus{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color: #60C1CF;
}

.mobile .dropdown-menu li a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color: $gray;
}

ul.oil-portal{
  width: 463px;
  height: 36px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  display: inline-block;
}

ul.oil-portal li{
  display: inline-block;
  padding: 14px 18px 9px;
}

ul.oil-portal li:hover{
 background-color: rgba(152, 152, 152, 0.1);
 height: 18px;
}

ul.oil-portal li:hover a{
  color: $blueLight;
}

ul.oil-portal li a{
  color: $gray;
}

ul.oil-portal li a:hover{
  color: $blueLight;
}

ul.oil-portal li.active{
  background-color: #f9f9f9;
  height: 18px;
  box-shadow: (0px 3px 5px -1px #f9f9f9);
}

ul.oil-portal li.active a{
  color: $blue;
}

*/

a:hover{
  color: #049cdb;
  text-decoration: none;
}
/*
New header style
*/

#oil-nav{
  display: block;
  background-color: #f4f4f4;
  padding: 1px 10px 1px;
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  position: fixed;
  width: 96%;
  height: 35px;
  padding: 1px 2% 1px;
  z-index: 2000000;
}

nav.navbar-inner{
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;  
}
nav.navbar-inner .logo-header{
  display: inline
}

.logo-header img{
  width: 60px;
  padding-top: 0;
  float: left;

}

.logo-header .brand{
  padding: 0;
  width: auto;
  float: none;
  margin: -1px 0 0 3px;
  font-size: 23px;
  font-family: "NeoTech-Regular";
  color: #60c1cf !important;
  display: inline-block;
  font-weight: normal !important;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.logo-header .brand a:hover{
  text-decoration: none;
}

.logo-header .brand span{
  color: #002d67 !important;
}

.mobile .dropdown-menu{
  margin-left: -67px;
}

ul.oil-portal{
  width: 463px;
  height: 36px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  display: inline-block;
}

ul.oil-portal li{
  display: inline-block;
  padding: 14px 18px 9px;
}

ul.oil-portal li:hover{
  background-color: rgba(152, 152, 152, 0.1);
  height: 18px;
  color: #049cdb;
}

ul.oil-portal li a{
  color: #555;
}

ul.oil-portal li a:hover{
  color: #049cdb;
}

ul.oil-portal li.active{
  background-color: #f9f9f9;
  height: 18px;
  -moz-box-shadow: 0px 3px 5px -1px #F9F9F9;
  -webkit-box-shadow: 0px 3px 5px -1px #F9F9F9;
  box-shadow: 0px 3px 5px -1px #F9F9F9;
}

ul.oil-portal li.active a{
  color: #002D67;
}

.mobile{
  display: none;
  margin-top: 8px;
}

.mobile ul.dropdown-menu{
  margin-left: -67px;
  min-width: 90px;
  background-color: rgb(244, 244, 244);
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  margin-top: 0px;
  color:#333;
}
.mobile ul li a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  color:#333;
}

.mobile ul li.active a{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#60C1CF;
}

.mobile ul li.active a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#60C1CF;
}

.mobile ul li.active a:focus{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#333;
}

.nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  margin: 2px 0px 1px 0px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #60C1CF;
  background-color: #FFF;
  border-radius: 5px;
}



@media (max-width: 767px){

  header .navbar ul.nav{
    margin-top: 0px;
  }

  .logo-header{
    float: left;
  }

  .mobile .dropdown-menu li a{
    padding: 6px 8px 6px;
  }

  .mobile{
    display: inline-block !important;
    margin-top: 10px;
  }

  .brand{
    padding: 14px 1px 0 5px !important;
    float: left !important;
  }

  .logo-header a img{
    display: none;
  }

  .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }

  .nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    margin: 0px 0 1px 15px;
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 979px){


  .nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    margin: 2px 0 1px 15px;
    float: right;
  }

  header.navbar ul{
    margin-top: 0px    
  }

  .mobile{
    display: inline-block !important;
    margin-top: 10px;
  }

  .brand{
    padding: 14px 1px 0 5px !important;
    float: left !important;
  }

  .logo-header a img{
    display: none;
  }

  .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }

  header.navbar .mobile {
    margin-top: 8px;
    margin-left: 2px;
    margin-top: 10px;
  }
}