#organizations,
#user
  .data
    width: 90%
    .name
      display: inline
    a
      &:last-child
        display: inline-block
        width: auto
    


.members
  .add
    @include btn-add
    margin: 0 0 0 60px
    padding-top: 27px

.organizations-list
  ul
    margin-left: 0px

.tab-pane,
.organizations-list
  .organization
    min-height: 50px
    @include contact
    &:first-child
      margin-top: 3px

#authorized
  #contact-filter
    width: 30% !important
    float: right
    margin-top: -48px
  .contact
    @include contact
    width: 170px
    float: left
  .soften
    display: none

#members
  @include header-tab
  #contact-filter
    width: 30% !important
    float: right
    margin-top: -48px
  .contact
    @include contact
    width: 170px
    float: left
    margin-left: 12px
  .soften
    display: none
  .members
    margin-top: 50px


/*create screen*/

#new_organization
  h3
    text-align: right
  form#new_organization
    padding: 0 2.5% 145px
    section
      @include forms
    input
      &[type="submit"]
        float: right
      
  #new_organization
    textarea
      max-height: 50px 

.modal-body
  form
    box-shadow: none !important
    border: none !important
  section
    border: none !important
