#organizations,
#user
  .data
    width: 90%
    .name
      display: inline
    a
      &:last-child
        display: inline-block
        width: auto

#organizations
  a.accordion-toggle
    padding-top: 0

.organizations-list
  ul
    margin-left: 0px

.tab-pane,
.organizations-list
  .organization
    min-height: 50px
    @include contact
    &:first-child
      margin-top: 3px
  a.view-all
    float: right

#organization
  .members-list
    .contact
      .name
        a  
          overflow: visible
  .result
    a
      margin-top: 4px
      display: block
#members
  @include header-tab
  .members-list
    margin: 0 0 43px 2.5%
    padding: 12px
  #contact-filter
    @include filter
    margin-top: -48px
  .contact
    @include follow
    width: 170px
    float: left
    margin-left: 20px
    margin-bottom: 20px
  .soften
    display: none
  .members
    margin-top: 50px

#members
  header
    a
      margin-top: 22px



/*create screen*/

#new_organization
  h3
    text-align: right
  form#new_organization
    padding-bottom: 50px
    section
      @include forms
    .name
      max-height: 50px
      min-height: 53px
      padding: 20px 2.5% 0px
      clear: both
    .owners
      min-height: 62px
      padding: 0px 2.5% 0px
      clear: both
    .description
      min-height: 110px
      padding: 0px 2.5% 0px
      clear: both
    a
      &:last-child
        @include btn-primary
        float: right
        margin: 0 15px 21px 0


      
  #new_organization
    textarea
      max-height: 50px 

.modal-body
  form
    box-shadow: none !important
    border: none !important
  section
    border: none !important
