<section class="avatar">
  <header>
    <h4>
      Change avatar
    </h4>
  </header>
  <div class="edit_avatar">
    <%= render partial: 'avatars/form',
               object: @profile.actor,
               as: :avatarable %>
  </div>
</section>