<section class="comunication-info">
  <header>
    <h4>
      Contact information
    </h4>
  </header>  

  <form id="edit_profile_form">
    <div class="phone">
      <label>Phone</label>   
      <input type="text">
    </div>

    <div class="email">
      <label>E-mail</label>   
      <textarea></textarea>
    </div>

    <div class="website">
      <label>Website</label>   
      <input type="text">
    </div>
    <input type="submit">
  </form>
</section>
