<section class="personal">
  <header>
    <h4>
      Pesonal information
    </h4>
  </header>

  <form id="edit_profile_form">
    <div class="name">
      <label>About me</label>   
      <input type="text">
    </div>

    <div class="description">
      <label>Description</label>   
      <textarea></textarea>
    </div>

    <div class="city">
      <label>City</label>   
      <input type="text">
    </div>
    <input type="submit">
  </form>

</section>
