<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#rA" data-toggle="tab">General</a></li>
    <li><a href="#rB" data-toggle="tab">Rights and Obligations</a></li>
    <li><a href="#rC" data-toggle="tab">Term and Termination</a></li>
    <li><a href="#rD" data-toggle="tab">Temporary Suspension</a></li>
    <li><a href="#rE" data-toggle="tab">Intellectual Property and Propietary Rights</a></li>
    <li><a href="#rF" data-toggle="tab">Liability, Disclaimers and Indemnity</a></li>
    <li><a href="#rG" data-toggle="tab">Account Personal Data Protection</a></li>
    <li><a href="#rH" data-toggle="tab">Assignment, Subcontracting and not Reselling </a></li>
    <li><a href="#rI" data-toggle="tab">Confidentiality</a></li>
    <li><a href="#rJ" data-toggle="tab">Legislation and Applicable Jurisdiction</a></li>
    <li><a href="#rK" data-toggle="tab">Miscellaneous</a></li>
  </ul>


  <div class="tab-content">

    <section class="tab-pane active" id="rA">
      <div>
        <h3>#1- General</h3>
        <h6>1.1_Object</h6> 
        <p>This document comprises the FIWARE Open Innovation Lab (OIL) Terms and Conditions that regulate the access to and use of FIWARE Open Innovation Lab (OIL) Services.</p>
      </div>

      <div>
        <h6>1.2_Rights and Obligations</h6> 
        <ul>
          <li>
            <span class="definitions">“Terms and Conditions”</span> refer to the FIWARE OIL Terms and Conditions.
          </li>
          <li> 
            <span class="definitions">“You / Your”</span> refers, as applicable, to you or the entity you represent. 
          </li>
          <li>
            <span class="definitions">“We / Us / Our”</span> refers, as applicable, to the parties of the EU funded collaborative project nº 285248 “FIWARE: Future Internet Core Platform. You can obtain an updated list of FIWARE parties at <a href="http://wiki.fi-ware.org/FI-WARE_Project_Partners">http://wiki.fi-ware.org/FI-WARE_Project_Partners</a> 
          </li>
          <li>
            <span class="definitions">“FIWARE Generic Enabler implementation (GEi) products” or “FIWARE GEi”</span> are the products described in the <a href="http://catalogue.fi-ware.org">FIWARE Catalogue</a>.
          </li>
          <li>
            <span class="definitions">“FIWARE OIL Services”</span> refer to services: 
            <ol>
              <li> 
                <span class="point">a)</span> made available at the <a href="lab.fi-ware.org">“FIWARE OIL Site</a>, including hosting services provided by the “FIWARE OIL Cloud”.
              </li>
              <li>
                <span class="point">b)</span> provided by instances of FIWARE Generic Enabler implementation (GEi) products that have been deployed by any of Us on the FIWARE OIL Cloud and offered to You or have been deployed by You  on the FIWARE OIL Cloud using the tools and services that the FIWARE OIL Cloud provides or using the installation and administration guides provided to You for that purpose.
              </li>
            </ol>
          </li>
          <li>
            <span class="definitions">"Account Management Provider"</span> refers to the FIWARE partner dealing with account management functions for the FIWARE OIL site. 
          </li>
          <li>
            <span class="definitions">“Generic Enabler Provider”</span> refers individually to  the relevant FIWARE partner who is providing the relevant FIWARE GEi product  which You or Your End User is accessing. 
          </li>
          <li>
            <span class="definitions">This “Agreement”</span> refers to the agreement between You and Us (each referred to individually as “Party” and collectively as the “Parties”) in compliance with clauses defined in <a href="#rA">section 1.3</a>. The “Effective Date” is the date from which this Agreement takes effect as defined in section <a href="#rA">1.3</a>. 
          </li>
          <li>
            <span class="definitions">“Your Account”</span> is the user account you have to create, in compliance with clauses defined in <a href="#rB">section 2.1</a>, in order to be able to use FIWARE OIL Services. 
          </li>
          <li>
            <span class="definitions">“End user”</span> means any individual or entity that accesses and/or uses Your content or FIWARE OIL Services under Your Account.  
          </li>
          <li>
            <span class="definitions">“Content”</span> means software, data, text, audio, video, images and other information. 
          </li>
          <li>
            <span class="definitions">“FIWARE OIL Content”</span> means Content We, or any of Our affiliates, make available in connection with the FIWARE OIL Services or on the FIWARE OIL Site, including but not limited to Content deployed on the FIWARE OIL Cloud. 
          </li>
          <li>
            <span class="definitions">“FIWARE OIL Information”</span> means data, text, audio, video, images and other information that is provided as part of FIWARE OIL Content, or is attached or used together with FIWARE OIL Content. 
          </li>
          <li>
            <span class="definitions">“Your Content”</span> means Content You, or any End User under your account or in connection with Your Account, deploy on the FIWARE OIL Site, including but not limited to the FIWARE OIL Cloud, or cause to interface with the FIWARE OIL Services. 
          </li>
          <li>
            <span class="definitions">“Your Data”</span> means data, text, audio, video, images and other information that is part of Your Content, or is attached or used together with Your Content. 
          </li>
          <li>
            <span class="definitions">“Your Software”</span> means software (included related documentation), applications or any other tool developed, owned and/or licensed by You. 
          </li>
          <li>
            <span class="definitions">“Third Party Content”</span> means Content made available to You by any third party on the FIWARE OIL Site, including but not limited to the FIWARE OIL Cloud, or in conjunction with FIWARE OIL Services. 
          </li>
          <li>
            <span class="definitions">“Third Party Data”</span> means data, text, audio, video, images and other information that is part of Third Party Content, or is attached or used together with Third Party Content. 
          </li>
          <li>
            <span class="definitions">“Third Party Software”</span> means software (included related documentation), applications or any other tool developed, owned and/or licensed by any third party. 
          </li>
          <li>
            <span class="definitions">“Your Feedback”</span> means all reviews, comments, suggestions, bug and issues reports, enhancement requests, questions, or other information You provide to Us with respect to FIWARE OIL Services or these Terms and Conditions.
          </li> 
        </ul>
      </div>

      <div>
        <h6>1.3_Binding agreement</h6>
        <p>
          By clicking the "I ACCEPT" button or check box presented with these Terms and Conditions , You state that You have read and accepted these Terms and Conditions or any modification to these Terms and Conditions in accordance with <a href="#rA">section 1.4</a> below.  
        </p>
        <p>
          Acceptance of these Terms and Conditions constitute a binding agreement between you and us. 
        </p> 
        <p> 
          The Effective Date for this Agreement is the first date at which you click the "I ACCEPT" button or check box presented with these Terms and Conditions. 
        </p>
        <p>
          If You are entering into this Agreement on behalf of a company or other legal entity, You represent and are liable to Us that You have the legal authority to bind such company or entity to this Agreement, in which case, "You" shall mean such company or entity. If You do not have such authority, or if You do not agree with the Terms and Conditions of this Agreement, You must cancel the acceptance process and You cannot use the FIWARE OIL Services nor any other material herein offered.  
        </p> 
        <p> 
          If You are entering into this Agreement in Your capacity as a natural person, You must be of legal age in accordance with laws in Your country. If You are not legal age or You do not have the capacity to be bound by this Agreement, or if You do not agree with the terms and conditions of this Agreement, You must cancel the acceptance process and You cannot use the FIWARE OIL Services nor any other material herein offered.
        </p>
      </div>
      <div>
        <h6>1.4_Amendment of this Agreement</h6>
        <p>
          We may amend these Terms and Conditions at any time by posting a revised version of these Terms and Conditions in the FIWARE OIL Site  and You will be subject to the most recently posted Terms and Conditions, irrespective of the Terms and Conditions in effect when You initially accessed the FIWARE OIL Site the Account Management Provider shall notify You by email, any changes to these Terms and Conditions at the FIWARE OIL Site. using the email address indicated by You when creating Your account. You shall be responsible to use and maintain a valid email address.
        </p>
      </div>
    </section>



    <section class="tab-pane active" id="rB">
      <div>
        <h3>#2- Rights and obligations</h3>
        <h6>2.1_Registration and User Account</h6> 
        <p> 
          To access the FIWARE OIL Services, You will be required to create a user account, which requires You to provide, amongst other things, a valid e-mail address at which you will accept communications from Us. Unless explicitly permitted, You may only create one user account per e-mail address. During the process for creation of Your Account, You will be required to choose a User ID and a password to get access to the FIWARE OIL Services. 
        </p> 
        <p> 
          In order to access the FIWARE OIL Services, You will be required to authenticate using the user ID and the password which You have set up during the process of creation of your account.
        </p> 
        <p>  
          You are responsible for keeping Your User ID and password safe and secure and for correctly managing said User ID and password, You also agree to take all precautions necessary to protect the safety and security of Your password. We shall have no liability whatsoever for any unauthorized use of misplaced, lost or stolen User ID or passwords. 
        </p> 
      </div>


      <div>
        <h6>2.2_Your rights and obligations</h6> 
        <ul>
          <li>
            <span class="point">(1)</span> You shall have the right to use,  Your Content and the FIWARE OIL Services in accordance with these Terms and Conditions including any subsequent versions published in the FIWARE OIL Site. 
          </li> 
          <li> 
            <span class="point">(2)</span> You shall further have the power to authorize use by Your End Users, provided that You procure from each End User an undertaking to comply with these Terms and Conditions, and that You shall be responsible for the acts and omissions of Your End Users as if they were the acts and omissions of You. Rights of any End User to utilize the FIWARE OIL Services cannot be shared or used by more than one individual. 
   
            Except for the specific use of the FIWARE OIL Services as set forth in clause <a href="#rB">2.3</a>, You are not granted any license under this agreement. Any use of FIWARE GEi Software and related documentation that you may download from the Fiware Catalogue will be subject to the relevant license included therein. 
          </li> 
        <li> 
          <span class="point">(3)</span> Use of FIWARE OIL Services is permitted free of charge  solely for Your or Your End User’s, experimental purposes, which are internal and non-commercial in nature.. You are not permitted to use, or authorize third parties to use, the FIWARE OIL Services for any other purposes.  For purposes of clarification, your access to and use of FIWARE OIL Services provided by of any Generic Enabler Provider does not imply any grant under any intellectual property rights of such Generic Enabler Providers. 
        </li> 
        <li> 
          <span class="point">(4)</span> Some FIWARE OIL Services are not generally available and may not be validated and quality assured (i.e., they are in “Beta Functionality”). The purpose of providing You access to FIWARE OIL Services is to allow You to test the functionality with its standard operation and to provide feedback on such testing to Us. We do not warrant the correctness and completeness of the FIWARE OIL Services. 
        </li> 
        <li> 
          <span class="point">(5)</span> You are required to incorporate in web pages that are part of your Content a “Powered by FIWARE” statement following the instructions defined in the FIWARE OIL Site. 
        </li> 
        <li> 
          <span class="point">(6)</span> You shall not license, sell, lease, rent outsource the FIWARE OIL Services to Your End User or to any third party.     
        </li> 
        <li> 
          <span class="point">(7)</span> You shall not remove notices and notations on the FIWARE OIL Site or in the FIWARE OIL Services that refer to copyrights, trademark rights, patent rights and other intellectual property rights. All rights, title and interest in any and all copyrights, trademark rights, patent rights and other intellectual property or other rights in the FIWARE OIL Services shall be owned by  the respective Generic Enabler Providers.  
        </li> 
        <li> 
          <span class="point">(8)</span> Nothing in this section shall operate to transfer ownership of Your Content, Your Software, and/or Your Data where such content, software and/or data is deployed on the FIWARE OIL Services solely in accordance with the FIWARE OIL SERVICES’ intended use. 
        </li>
        <li>
          <span class="point">(9)</span>  You represent that You shall, and procure that Your End Users shall: 
          <ol>
            <li>
              <span class="point">I</span> - comply with any instructions from Us relating to the use of the FIWARE OIL Services.
            </li>
            <li>
              <span class="point">II</span> - not use the FIWARE OIL Services in a manner which is inconsistent with a reasonable good faith use of the FIWARE OIL Services.
            </li>
            <li>
              <span class="point">III</span> - not use the FIWARE OIL Services in a manner which, in Our opinion, will (or is likely to) adversely affect the provision of the FIWARE OIL Services.
            </li>
            <li>
              <span class="point">IV</span> - not use the FIWARE OIL Services in a manner which may perturb, interfere, distort or damage  the FIWARE OIL Services or any third party's system.
            </li>
          <li>
            <span class="point">V</span> - not use the FIWARE OIL Services fraudulently or in connection with a criminal offence.
          </li>
          <li>
            <span class="point">VI</span> - not use the FIWARE OIL Services to send, knowingly receive, store or communicate any material which is illegal, unlawful, offensive, abusive, indecent, defamatory, obscene or menacing, a nuisance or a hoax or any other type of material likely to cause offence.
          </li>
          <li>
            <span class="point">VII</span> - not use the FIWARE OIL Services in order to harass, spy on, pester, cause annoyance or unnecessary anxiety to any person, or to pass as someone else or act in a manner which may be reasonably deemed to be objectionable, or which is in any way harmful to third parties.
          </li>
          <li>
            <span class="point">VIII</span> - not use the FIWARE OIL Services in a way that contravenes any license, code of practice, instructions or guidelines issued by a relevant regulatory authority.
          </li>
          <li>
            <span class="point">IX</span> - not use the FIWARE OIL Services to spam or to send unsolicited advertising or promotional material.
          </li>
          <li>
            <span class="point">X</span> - not use the FIWARE OIL Services to send or transmit anything, content or material which consists of or contains virus software.
          </li>
          <li>
            <span class="point">XII</span> - not use the FIWARE OIL Services in a manner which may damage our reputation, the reputation of the FIWARE OIL Services or otherwise bring Us or the reputation of third parties into disrepute.
          </li>
          <li>
            <span class="point">XIII</span> - not use the FIWARE OIL Services in any manner which violates copyright, trademark, confidentiality, privacy, or which infringes the intellectual or industrial property rights of others.
          </li>
          <li>
            <span class="point">XII</span> - hold and will continue to hold any licenses, consents and/or notifications required under any applicable legislation, regulation and/or administrative order to receive and use the FIWARE OIL Services.
          </li>
          <li>
            <span class="point">XIV</span> - comply with our reasonable instructions relating to health, safety, security and use of the FIWARE OIL Services.
          </li>
          <li> 
            <span class="point">XV</span> - comply with all applicable laws and regulatory provisions.
          </li>
          <li>
            <span class="point">XVI</span> - comply with any applicable use policy that we may issue from time to time and posted in the FIWARE OIL Site.
          </li>
          <li>
            <span class="point">XVII</span> not insert in our System any Content which breaches or could breach the law, public order, public morality or any third party rights. You understand that any of your Content is of your sole responsibility. 
          </li>
          <li>
            <span class="point">XVIII</span> - remove, change or obscure any warning regarding intellectual or industrial property rights displayed on the FIWARE OIL Site or on any other material available on the site, including any software provided as part of the FIWARE OIL Services. 
          </li>
          <li>
            <span class="point">XIX</span> - use multiple "logins" for harmful purposes or in a premeditated manner so as to cause annoyance to others.
          </li>
        </ol>
    </li>
    <li>
      <span class="point">(10)</span> Furthermore, You shall not, and shall procure that Your End Users  do not , unless expressly allowed in  writing by the relevant Generic Enabler Provider: 
      <ol>
        <li>
          <span class="point">I</span> - copy, use, reverse engineer, amend, disassemble, disintegrate, decompile, or otherwise attempt to reconstruct, identify, discover or derive the source code, underlying ideas, underlying user interface techniques or algorithms or disclose any of the foregoing, or in any other way interfere with any software provided as part of the FIWARE OIL Services or any other service or tool made available on the FIWARE OIL Site.
        </li>
        <li>
          <span class="point">II</span> - modify, incorporate into or with other software   any software provided as part of the FIWARE OIL Services or any other service or tool made available on the FIWARE OIL Site.
        </li>
        <li>
          <span class="point">III</span> - transfer, assign or otherwise delegate your right to use the FIWARE OIL Services or any software provided as part of the FIWARE OIL Services or any other service or tool made available on the FIWARE OIL Site, or to try to do so;, except to the limited extent permitted under <a href="#rB">clause 2.2(2)</a> with respect to End Users (iv) Not use any software provided as part of the FIWARE OIL Services in order to develop or enhance any product that competes with such software or use such software for other purposes. 
        </li>
      </ol>
    </li>
    <li>
      <span class="point">(11)</span> You shall provide Us with any and all information and/or assistance that we may require in order to operate the FIWARE OIL Services. You shall ensure the information is complete and accurate. 
    </li>
    <li>  
      <span class="point">(12)</span> You shall notify Us immediately if You become aware that any person is making improper or illegal use of the FIWARE OIL Services. 
    </li>
    <li>
      <span class="point">(13)</span> You acknowledge that the FIWARE OIL Services may enable access to the Internet and that use of the Internet is solely at Your risk and subject to all applicable laws. We have no responsibility for any information, software, services, goods or other materials obtained by You using the Internet. 
    </li>
    <li>
      <span class="point">(14)</span> You warrant Us that You will take all reasonable steps to ensure that any software used with or in connection with the FIWARE OIL Services that is not provided by Us under this Agreement is not infected by viruses and/or logic bombs, worms, Trojan horses and any other types of disruptive, destructive or nuisance programs. 
    </li>
    <li>
      <span class="point">(15)</span> You shall be responsible for the management of your Data/Content. You hereby represent and warrant to Us that your Data/Content are free of all viruses, Trojan horses, and comparable elements which could harm the systems or software used by Us to provide the FIWARE OIL Services. You agree that you have collected and shall maintain and handle all Data/Content in compliance with all applicable data privacy and protection laws, rules and regulations and that, when applicable, you  received all necessary third party consents to permit distribution and use of the Conent for the purpose of this Agreement. 
    </li>
    <li> 
      <span class="point">(16)</span> You are responsible for the connection to the FIWARE OIL Services, including the Internet connection. 
    </li>
    <li>
      <span class="point">(17)</span> You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of any Third Party Data or Third Party Content.  
    </li>
    <li>
      <span class="point">(18)</span> You represent and warrant that You own or otherwise control all of the rights to the Third Party Content that You deploy; that the Third Party Content is accurate; that use of the Third Party Content You provide does not violate these Terms and Conditions and will not cause injury to any person or entity; and that You will indemnify Us for all claims resulting from Third Party Content You provide.  
    </li>
    <li>
      <span class="point">(19)</span> You acknowledge that (a) We have not tested or screened and will not test or screen Third Party Content, (b) You use any Third Party Content at your sole risk, and Your use of © Third Party Content may be subject to separate license terms as determined by the person or legal entity providing such Content. 
    </li>
    <li>
      <span class="point">(20)</span> When you visit the FIWARE OIL Site or send e-mails to Us, You are communicating with us electronically. You consent to receive communications from Us electronically. We will communicate with You by e-mail or by posting notices on the FIWARE OIL Site. You agree that all agreements, notices, disclosures and other communications that We provide to you electronically satisfy any legal requirement that such communications be in writing. 
    </li>
    <li>
      <span class="point">(21)</span> You may submit Your Feedback to us, so long as it is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and it does not consist of or it does not contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of “spam.” 
    </li>
    </ul>
    </div>
    <div>

      <h6>2.3_Uur rights and obligations</h6> 
      <p> 
        Our rights and obligations 
        We reserve the right to modify, reduce limit   the FIWARE OIL Services offered at any time.    
        <ul>
          We shall have the rights but not the obligations: 
          <li>
            <span class="point">I</span> - to monitor and track Your use of the FIWARE OIL Services. 
          </li>
          <li>
            <span class="point">II</span> - to interrupt the FIWARE OIL Services in order to perform any work that, in our opinion, is needed.  
          </li>
          <li>
            <span class="point">III</span> - to take statistics about Your Content or use of Your Content and publish such statistics in an anonymous way. 
          </li>
          <li>
            <span class="point">IV</span> - to act upon Your Content whenever it is required to solve issues that affect overall operations of the FIWARE OIL Services or to comply with existing laws and/or regulations. 
          </li>
          <li>
            <span class="point">V</span> - to mention You as user of the FIWARE OIL Services. 
          </li>
        </ul>
      </p>
      <p>
        The Account Manager Provider will do reasonable efforts in order to notify you, through the FIWARE OIL Site and/or email, about any interruptions as soon as practicable. 
      </p>
      <p>
        You grant Us the nonexclusive right to use your Data for the purpose of providing the FIWARE OIL Services. 
        We reserve the right (but not the obligation) to remove or edit Your or Third Party Data.
      </p>
      <p>  
        We have the right but not the obligation to monitor and edit or remove any activity or content, including Your Content or Third Party Content. We take no responsibility and assumes no liability for any content provided by you or any third party. 
      </p>
      <p>
        We are not obligated to evaluate or provide any comments to You regarding Your Feedback, Your Content or Third Party Content. At ours sole discretion, We may contact you with critiques, updates, feedback or questions regarding them. In no event will any such contact or communication obligate Us to adopt, provide a timeframe for evaluation, or even provide any additional communication regarding Your Feedback, Your Content or Third Party Content. 
      </p>
    </div>
    <div>
      <h6>2.4_Support Level</h6> 
      <ul>
        You agree that  
        <li>
          <span class="point">I</span> - We are not obligated to provide any technical assistance, training, consultation, or any other support to you however. 
        </li>
        <li>
          <span class="point">II</span> - We may decide, at our own discretion,  to provide limited support “ without  any  obligation to provide any particular service level or support services.
        </li>
        <li>
          <span class="point">III</span> - We may cease providing the FIWARE OIL Services, or part of them  at any time without notice. This Article supersedes any conflicting term of this Agreement.
        </li>
      </ul>
      <p> 
        You acknowledge that the provision of the FIWARE OIL Services might not be available in every country, either temporarily or permanently.
      </p>
    </div>  
    </section>
    <section class="tab-pane active" id="rC">
      <div>
        <h3>#3- Term and Termination</h3>
        <h6>3.1_Term</h6> 
        <p> 
          This Agreement shall enter into force from the Effective Date in accordance with <a href="#rA">section 1.2</a> above, and will remain in effect until terminated by you or us in accordance with <a href="#rC">section 3.2</a>. , or as varied by any new Terms and Conditions which may be posted on the website as permitted at <a href="#rA">Section 1.4</a>.
        </p>
      </div>
      <div>
        <h6>3.2_Term</h6> 
        <p> 
          You may terminate the Agreement at any time, for any reason, at Your convenience, provided You close your account, following the provided account closing mechanism. 
        </p> 
        <p>  
          We may terminate the Agreement at any time, for any reason, at Our convenience, provided We give You fifteen (15) Business Days' prior notice. 
          <ul>
            Additionally, we may at any time suspend or terminate immediately the provision of the FIWARE OIL Services and/or this Agreement without liability to You if: 
            <li>
              <span class="point">I</span> - You hack or break, or seek to hack or break, any security mechanism.
            </li>
            <li>
              <span class="point">II</span> - We otherwise determine in Our sole discretion that Your use of the FIWARE OIL Services or the End User’s use of the FIWARE OIL Services poses a security or service risk that may be subject Us or any third party to liability.
            </li>
            <li>
              <span class="point">III</span> - We determine in Our sole discretion that You, Your employees, directors, officers or agents or any of the End Users, are using the FIWARE OIL Services or are acting in such a way that the FIWARE OIL Services provided to other clients or any infrastructure related to the FIWARE OIL Services are adversely affected.
            </li>
            <li>
              <span class="point">IV</span> - We determine in Our sole discretion that providing the FIWARE OIL Services to You could create a substantial economic or technical burden for Us.
            </li>
            <li>
              <span class="point">V</span> - We determine in Our sole discretion, that Our provision of any of the Service to You has become impractical or unfeasible for any legal or regulatory reason.
            </li>
            <li>
              <span class="point">VI</span> - Subject to the applicable law, upon Your liquidation, commencement of dissolutions proceedings, disposal of Your assets, failure to continue Your business, assignment for the benefit of creditors, or if You become the subject of a voluntary or involuntary bankruptcy or similar proceeding or if an arrangement with creditors is made or a receiver or administrator is appointed over any other party’s assets or the other party goes into liquidation.
            </li>
            <li>
              <span class="point">VII</span> - in order to comply with applicable law.
            </li>
            <li>
              <span class="point">VIII</span> - If You or any End User, breaches any other obligation hereunder. 
            </li>
            Notwithstanding the foregoing, upon termination of the Agreement, We may need to keep Your Content and Your Account information so that We can defend possible legal claims related to such termination. It is being clarified that, such information  , may be  deleted if we believe that it is not   relevant to such a claim, or we believe that a claim   claim could no longer arise.  After termination, we will not have obligation to continue to store Your Content or to permit You to retrieve the same.
          </ul>
        </p>

      </div>
    </section>
    <section class="tab-pane active" id="rD">
      <div>
        <h3>#4- Temporary Suspension </h3>
        <ul> 
          We may suspend your or any End User’s right to access or use the FIWARE OIL Services offered under this Agreement immediately without notice to You if We determine: 

          <li>
            <span class="point">(a)</span>  Your or Your End User’s use of or registration for the FIWARE OIL Services.
            <ol>
              <li>
                <ul>
                  <li><span class="point">I</span> - poses a security risk to the FIWARE OIL Services or any third party.</li>
                  <li><span class="point">II</span> - may adversely impact the FIWARE OIL Services or the Systems or Content of any other user of the FIWARE OIL Services.</li>
                  <li><span class="point">III</span> - may subject us, our affiliates, or any third party to liability.</li>
                  <li><span class="point">VI</span> - may be fraudulent. </li>
                </ul>
              </li>
            </ol>
            </li>
              <li>
                <span class="point">(b)</span>  you are, or any End User is, in breach of this Agreement.
              </li>
              <li>
                <span class="point">(c)</span>  you have ceased to operate in the ordinary course, made an assignment for the benefit of creditors or similar disposition of your assets, or become the subject of any bankruptcy, reorganization, liquidation, dissolution or similar proceeding. 
              </li>
            </ol>
          </li>
        </ul>
        <p>
          If we suspend your right to access or use any portion or all of the FIWARE OIL Services, we reserve the right to erase or not any of Your Content as a result of your suspension, unless  deletion of your content, or part of it, is found to be necessary to mitigate  the reasons for the suspension.
        </p>
        <p> 
          Our right to suspend Your or any Your End User’s right to access or use the Service Offerings is in addition to our right to terminate this Agreement pursuant to <a href="#rC">section 3.2</a>. 
        </p>
        <p>
          The Account Manager Provider will do reasonable efforts in order to notify you about the suspension of Your account. 
        </p>
      </div>
    </section>
    <section class="tab-pane active" id="rE">


      <div>
        <h3>#5- Intellectual Property and Propietary Rights </h3>
        <h6>5.1_Ownership</h6> 
        <p> 
          Other than the limited use and access rights  expressly set forth in <a href="#rB">Section 2.2</a> of this Agreement.  We – respectively the FIWARE party owning the rights to the respective FIWARE OIL Service - reserve all right, title and interest (including all intellectual property and proprietary rights) in and to: 
          <ul>
            <li> 
              <span class="point">I</span> - the FIWARE OIL Services. 
            </li>
            <li>
              <span class="point">II</span> - FIWARE OIL Content and FIWARE OIL Information owned by some of Us and made available from Us to You.
            </li>
            <li> 
              <span class="point">III</span> - FIWARE OIL Information.
            </li>
            <li>
              <span class="point">III</span> - The  GEi Product, the trademarks, service marks, service or trade names, logos, and other designations of Us or of Our licensors (“Marks”) 
            </li>
            <li> 
              <span class="point">IV</span> - Any other technology and software that We own and use to provide the FIWARE OIL Services and the FIWARE OIL Information.  
            </li>
          </ul>
          <p>
            You do not, by virtue of this Agreement or otherwise, acquire any ownership interest or rights in the FIWARE OIL Services, the FIWARE OIL Content, the FIWARE OIL Information, Our Systems, the Marks, or other technology and software (including third party technology and software), except for the limited use and access rights described in <a href="#rB">section 2.2</a> of this agreement. 
          </p>
          <p>
            Other than the rights and interests expressly set forth in <a href="#rB">section 2.2.3 </a> of this Agreement, and excluding the FIWARE OIL Content and works derived from the FIWARE OIL Content, You reserve all right, title and interest (including all intellectual property and proprietary rights) in and to: 
            <ul>
              <li>
                <span class="point">I</span> - The Content or any other content and data You may send to Us or use as part of Your use of any FIWARE OIL Services which is designed by Us to permit You to send content or data to use.
              </li>
              <li><span class="point">II</span> - Any other software or application owned by or licensed to You and that You may use when being provided with the FIWARE OIL Services different from the Third Party Software.
              </li>
            </ul>
          </p>
          <p>   
            With respect to categories <em>I</em> and <em>ii</em>, You shall provide Us with all redistribution rights necessary for Us to redistribute the items in these categories in accordance with the normal operation of the FIWARE OIL Services.   
          </p>
          <p>
            During and after the term of the Agreement, with respect to any of the FIWARE OIL Services that You elect to use, You will not assert, nor will You authorize, assist, or encourage any third party to assert, against Us or any of Our customers, end users, vendors, business partners, licensors, sub licensees or transferees, any patent infringement or other intellectual property infringement claim with respect to such Services.  
          </p>
        </div>

        <div>
          <h6>5.2_Third party software provided with FIWARE OIL Services</h6> 
          <p> 
            As part of FIWARE OIL Services, You may be allowed to use Third Party Software. Such Third Party Software is neither sold nor distributed to You and You may use it solely as part of FIWARE OIL Services. You may not use or transfer it outside FIWARE OIL Services. 
          </p>
          <p>
            You hereby agree to comply with all terms and conditions set forth in the license terms that such third party may show when access the Third Party Software and otherwise, cooperate with us to use the Third Party Software only as authorized by such Third Party. 
          </p>
        </div>
      </section>
      <section class="tab-pane active" id="rF">
        <div>
          <h3>#6- Liability, Disclaimers and Indemnity  </h3>
          <h6>6.1_Liability</h6> 
          <ul>
           <li> 
            <span class="point">A.</span> SUBJECT TO PARAGRAPHS D AND E OF THIS SECTION, WE WILL NOT EITHER SEVERALLY OR JOINTLY BE LIABLE TO YOU OR THE END USER IN RESPECT OF ANY MATTER ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR THE PROVISION OF FIWARE OIL SERVICES, IN CONTRACT OR TORT (INCLUDING NEGLIGENCE) OR OTHERWISE FOR ANY LOSS OF PROFIT (WHETHER DIRECT OR INDIRECT), BUSINESS, REVENUE, ANTICIPATED SAVINGS, GOODWILL, BUSINESS INTERRUPTION, FROM WASTED EXPENDITURE OR ANY LOSS OR CORRUPTION OF DATA, OR FOR ANY INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE WHATSOEVER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
          </li>


          <li>
            <span class="point">B.</span> YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE WILL NOT EITHER SEVERALLY OR JOINTLY,   BE LIABLE TO YOU, TO THE END USERS OR TO ANY THIRD PARTY, FOR ANY DAMAGES OR LOSSES RESULTING FROM THE FOLLOWING: 
            <ol>
              <li>
                <span class="point">I</span> - THE USE OF OR THE INABILITY TO USE  THE FIWARE OIL SERVICES.
              </li>
              <li>
                <span class="point">II</span> - THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND FIWARE OIL SERVICES.  
              </li>

              <li>
                <span class="point">III</span> - UNAUTHORIZED ACCESS TO OR ALTERATION OF, OR THE DELETION, DESTRUCTIONS, DAMAGE, LOSS OR FAILURE TO STORE ANY OF YOUR TRANSMISSIONS OR CONTENT OR OTHER DATA.
              </li>
              <li>
                <span class="point">IV</span> - YOUR CONTENT.
              </li>
              <li>
                <span class="point">V</span> - STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON FIWARE OIL SERVICES.
              </li>
              <li>
                <span class="point">VI</span> - USAGE BY YOU OF THE FIWARE OIL SERVICES TOGETHER WITH ANY OTHER SERVICES, SOFTWARE, APPLICATION OR TOOL NOT OFERRED BY US OR USE OF THE FIWARE OIL SERVICES IN A WAY NOT EXPRESSLY PERMITTED UNDER THIS AGREEMENT. 
              </li>
              <li>
                <span class="point">VII</span> - LOSS OF, OR DAMAGE TO, YOUR RECORDS OR DATA, OR ANY DAMAGES CLAIMED BY YOU BASED ON A THIRD PARTY CLAIM. 
              </li>
            </ol> 
          </li>

          <li>
            <span class="point">C.</span> - SUBJECT TO PARAGRAPHS A, B, D AND E OF THIS SECTION, OUR AGGREGATE LIABILITY RESULTING FROM BREACH OF CONTRACT OR NEGLIGENCE, UNDER ANY INDEMNITY OR OTHERWISE ARISING IN CONNECTION WITH THIS AGREEMENT OR THE PROVISION OF FIWARE OIL SERVICES, (WHETHER TO YOU, ANY OF YOUR END USERS OR OTHERWISE) SHALL BE LIMITED IN RESPECT OF ALL CLAIMS TO AN AMOUNT EQUAL TO 50€. 
          </li>
          <li>
            <span class="point">D.</span> - NOTHING IN THIS AGREEMENT SHALL EXCLUDE OR RESTRICT THE LIABILITY OF YOU  FOR: <span class="point">I</span> DEATH OR PERSONAL INJURY RESULTING FROM YOUR NEGLIGENCE; OR <span class="point">II</span> FRAUD OR FRAUDULENT MISREPRESENTATION. 
          </li>
          <li>
            <span class="point">E.</span> - NOTHING IN THIS AGREEMENT SHALL EXCLUDE OR RESTRICT THE LIABILITY OF EITHER PARTYIN RESPECT OF ANY LIABILITY WHICH CANNOT BE EXCLUDED OR RESTRICTED BY LAW. ACCORDINGLY, THE LIMITATION OF LIABILITY SHALL NOT APPLY TO DAMAGES RESULTING FROM WILFUL INTENT 
          </li>
        </ul>

        <div>
          <h6>6.2_Disclamer</h6> 
          <ul> 
            <li>
              <span class="point">A.</span>  SUBJECT TO PARAGRAPHS D AND E OF THIS SECTION, WE WILL NOT EITHER SEVERALLY OR JOINTLY BE LIABLE TO YOU OR THE END USER IN RESPECT OF ANY MATTER ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR THE PROVISION OF FIWARE OIL SERVICES, IN CONTRACT OR TORT (INCLUDING NEGLIGENCE) OR OTHERWISE FOR ANY LOSS OF PROFIT (WHETHER DIRECT OR INDIRECT), BUSINESS, REVENUE, ANTICIPATED SAVINGS, GOODWILL, BUSINESS INTERRUPTION, FROM WASTED EXPENDITURE OR ANY LOSS OR CORRUPTION OF DATA, OR FOR ANY INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE WHATSOEVER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
            </li>
            <li>
              <span class="point">B.</span>  YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE WILL NOT EITHER SEVERALLY OR JOINTLY,   BE LIABLE TO YOU, TO THE END USERS OR TO ANY THIRD PARTY, FOR ANY DAMAGES OR LOSSES RESULTING FROM THE FOLLOWING:  
            </li>
            <li>
              <ol>
                <li>
                  <span class="point">I</span> THE USE OF OR THE INABILITY TO USE  THE FIWARE OIL SERVICES.
                </li>
                <li>
                  <span class="point">II</span> THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND FIWARE OIL SERVICES. 
                </li>
                <li>
                  <span class="point">III</span> UNAUTHORIZED ACCESS TO OR ALTERATION OF, OR THE DELETION, DESTRUCTIONS, DAMAGE, LOSS OR FAILURE TO STORE ANY OF YOUR TRANSMISSIONS OR CONTENT OR OTHER DATA.
                </li>
                <li>
                  <span class="point">IV</span> YOUR CONTENT.
                </li>
                <li>
                  <span class="point">V</span> STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON FIWARE OIL SERVICES.
                </li>
                <li>
                  <span class="point">VI</span>  USAGE BY YOU OF THE FIWARE OIL SERVICES TOGETHER WITH ANY OTHER SERVICES, SOFTWARE, APPLICATION OR TOOL NOT OFERRED BY US OR USE OF THE FIWARE OIL SERVICES IN A WAY NOT EXPRESSLY PERMITTED UNDER THIS AGREEMENT. 
                </li>
                <li>
                  <span class="point">VII</span>  LOSS OF, OR DAMAGE TO, YOUR RECORDS OR DATA, OR ANY DAMAGES CLAIMED BY YOU BASED ON A THIRD PARTY CLAIM. 
                </li>
              </ol>
            </li>
              <li>
                <span class="point">C.</span>  SUBJECT TO PARAGRAPHS A, B, D AND E OF THIS SECTION, OUR AGGREGATE LIABILITY RESULTING FROM BREACH OF CONTRACT OR NEGLIGENCE, UNDER ANY INDEMNITY OR OTHERWISE ARISING IN CONNECTION WITH THIS AGREEMENT OR THE PROVISION OF FIWARE OIL SERVICES, (WHETHER TO YOU, ANY OF YOUR END USERS OR OTHERWISE) SHALL BE LIMITED IN RESPECT OF ALL CLAIMS TO AN AMOUNT EQUAL TO 50€. 
              </li>
              <li>
                <span class="point">D.</span>  NOTHING IN THIS AGREEMENT SHALL EXCLUDE OR RESTRICT THE LIABILITY OF YOU  FOR:
                <ol> 
                  <li>
                    <span class="point">I</span> - DEATH OR PERSONAL INJURY RESULTING FROM YOUR NEGLIGENCE.
                  </li>
                  <li>
                    <span class="point">II</span> - FRAUD OR FRAUDULENT MISREPRESENTATION. 
                  </li>
                </ol>
              </li>
              <li>
                <span class="point">E.</span>  NOTHING IN THIS AGREEMENT SHALL EXCLUDE OR RESTRICT THE LIABILITY OF EITHER PARTYIN RESPECT OF ANY LIABILITY WHICH CANNOT BE EXCLUDED OR RESTRICTED BY LAW. ACCORDINGLY, THE LIMITATION OF LIABILITY SHALL NOT APPLY TO DAMAGES RESULTING FROM WILFUL INTENT 
              </li>
            </ul>
          </div>

          <div>
            <h6>6.3_Indemnity</h6> 
            <p> 
              YOU AGREE TO HOLD HARMLESS AND INDEMNIFY US, AND OUR SUBSIDIARIES, AFFILIATES, OFFICERS, AGENTS, AND EMPLOYEES, ADVERTISERS OR PARTNERS, FROM AND AGAINST ANY THIRD PARTY CLAIM ARISING FROM OR IN ANY WAY RELATED TO YOUR USE OF THE FIWARE OIL SERVICES AND/OR YOUR CONTENT, OR TO AN ACTUAL OR ALLEGED BREACH OF YOUR OBLIGATIONS UNDER THIS AGREEMENT, INCLUDING (WITHOUT LIMITATION) BREACH OF YOUR OBLIGATIONS RELATED TO THE CONTENT AND PERSONAL DATA.
            </p>
            <p>
              ANY AND ALL DAMAGE AS A RESULT OF THE VIOLATION (BY YOU OR YOUR END USERS) OF THE APPLICABLE LAW OR THESE TERMS AND CONDITIONS, OR AS A RESULT OF ANY OTHER ACTIONS CONNECTED WITH USE OF THE FIWARE OIL SERVICES OR OF THE FIWARE OIL SITE CONTENT, OR AS A RESULT OF A BREACH OF A TERM OF THIS AGREEMENT RESULTING FROM YOUR END USER‘S USE OF THE FIWARE OIL SERVICES OR ANY CLAIMS AGAINST US MADE BY ANY OF YOUR END USERS, ANY AND ALL DAMAGE AS A RESULT OF THE USE OF THE FIWARE OIL SERVICES WITH THIRD PARTY SERVICES OR PRODUCTS AND ANY AND ALL DAMAGE TO ANY EQUIPMENT BELONGING TO US CAUSED BY YOUR BREACH OR YOUR END’S USERS BREACH OF THIS AGREEMENT; INCLUDING ANY LIABILITY OR EXPENSE ARISING FROM ALL CLAIMS, LOSSES, DAMAGES (ACTUAL AND CONSEQUENTIAL), SUITS, JUDGMENTS, LITIGATION COSTS AND ATTORNEYS’ FEES, OF EVERY KIND AND NATURE. IN SUCH A CASE, THE FIWARE PARTNERS WILL PROVIDE THE CLIENT WITH WRITTEN NOTICE OF SUCH CLAIM, SUIT OR ACTION. 
            </p>
          </div>
        </section>
        <section class="tab-pane active" id="rG">
          <div>
            <h3>#7- Account Personal Data Protection</h3>
            <p> 

              Any Account Personal Data provided by You  and linked to your Account shall only correspond to information strictly necessary for the compliance with this Agreement, and shall only and exclusively be applied or used to provide the FIWARE OIL Services. You agree that any Account Personal Data provided will be your own, and that you will not provide any personal data of third parties.  The Account Management Provider shall use reasonable endeavors that the Account  Personal Data will be processed in compliance with data protection laws.
            </p>
            <p>
              To the extent the Account Management Provider receive any Account Personal Data pursuant to this Agreement, the Account Management Provider will be a data "processor" as defined in <a href="#rB">Article 2</a> of the Data Protection Directive. The Account Management Provider undertake to process any Account Personal Data that is provided by You (or such Personal Data to which access is granted by You) originated in the European Economic Area only in the EEA or in a territory that has been designated by the European Commission as ensuring an adequate level of protection pursuant to Article 25(6) of the Data Protection Directive and always in accordance with Your instructions. 
            </p>
            <p> 
              Where Account Personal Data originating in the European Economic Area is processed outside the European Economic Area or in a territory that has not been designated by the European Commission as ensuring an adequate level of protection pursuant to <a href="#rB">Article 25(6) of the Data Protection Directive</a>, and before such processing happen, the Account Management Provider will provide You with the conditions applicable to the International Transfer Contract Clauses or similar agreements if applicable to guarantee adequate level of protection. 
              Notwithstanding paragraph above the parties are not required to enter into the applicable International Transfer Contract Clauses referred above where the Account Management Provider adhere to the Safe Harbor Privacy Principles and associated 15 Frequently Asked Questions, approved by the European Commission (Decision of 26th July 2000 (2000/520/EC))
            </p>
            <p>
              As between the Parties, Account Personal Data will remain Your exclusive property. This ownership includes all elaborations, evaluations, segmentations or similar processes that the Account Management Provider may carry out in connection with the FIWARE OIL Services. 
            </p>
            <p>
              The Account Management Provider shall implement and maintain appropriate technical and organizational measures, to protect Account Personal Data against accidental loss, destructions, or alteration; or unauthorized disclosure or access. 
            </p>
            <p>
              <ul>
                The Account Management Provider may authorize a third party (sub-contractor) to process the Account Personal Data provided that the sub-contractor's contract:
                <li> 
                  <span class="point">I</span> - is on terms which are substantially the same as those set out in this Agreement.
                </li>
                <li>
                  <span class="point">II</span> - includes an undertaking from the third party to comply with all instructions from Us or You and all applicable data protection laws. 
                </li>
                <li>
                  <span class="point">III</span> - includes a prohibition on the transfer of the Personal Data outside the EEA where Personal Data originating in the European Economic Area except otherwise agreed between You and Us. 
                </li>
                <li>
                  <span class="point">IV</span> - terminates automatically on termination of this Agreement for any reason. 
                </li>
              </ul>
              <p>
                Upon completion of the FIWARE OIL Services that prompted the delivery of Account Personal Data to us, the Account Management Provider will destroy the treated  data and media or documents containing the relevant Account Personal Data, unless You, in each specific case, expressly authorize its retention on the grounds that it will be necessary for subsequent contractual engagements, or it is required under applicable laws. In some cases, the Account Management Provider may need to keep Account Personal Data so the Account Management Provider can defend possible future legal claims. However, the Account Management Provider will still delete information that could not possibly be relevant to such a claim. In any case, Account Personal data will be deleted when such a claim could no longer arise. 
              </p>
              <p>
                You acknowledge that the Account Management Provider is reliant on You for direction as to the extent to which it is entitled to use and process the Account Personal Data. Consequently, the Account Management Provider shall not be liable for any claim (and You shall indemnify and hold Us harmless against any expenses, fines or other losses relating to such claim) brought by a data subject arising from any action or omission by us, to the extent that such action or omission resulted directly from our compliance with Your instructions pursuant to this Agreement.
              </p>
            </div>
          </section>
          <section class="tab-pane active" id="rH">
            <div>
              <h3>#8- Assignment, Subcontracting and not Reselling</h3>
              <p> 

                You may not assign this Agreement or otherwise transfer any of its rights or obligations, including any credentials, the licenses or any other right, without our prior written consent , except where explicitly provided by <a href="#rB">section 2.2</a> (“Your rights and obligations”).    
              </p>
              <p>
                We may, upon prior, written notice (including by email) to You and without your consent, assign or otherwise transfer this Agreement to a third party.
              </p>
              <p> 
                We may at any time subcontract part or all the FIWARE OIL Services or any of its obligations hereunder. 
              </p>
            </div>
          </section>
          <section class="tab-pane active" id="rI">
            <div>
              <h3>#9- Confidentiality</h3>
              <p> 

                Without derogating the provision clause <a href="#rG"> 7 about Personal Data</a>, all the information obtained or received as a result of entering into or performing the FIWARE OIL Services, is non confidential.  All Parties to this Agreement agree not to disclose any information to the other Party which is considered by the disclosing Party to be confidential. Each Party will be free to use and disclose any information provided by the other party pursuant to this agreement  for any purpose, subject to valid patent rights and copyrights. 
              </p>
            </div>
          </section>
          <section class="tab-pane active" id="rJ">
            <div>
              <h3>#10- Legislation and Applicable Jurisdiction </h3>
              <p> 

                These Conditions and the Agreement and any issues or disputes of whatever nature arising out of or in any way relating to it or its formation (whether such disputes are contractual or non-contractual in nature, such as claims in tort, for breach of statute or regulation, or otherwise) shall be governed by the laws of Belgium. All disputes or differences directly arising in connection with this Agreement including any dispute in which a Party alleges that another Party has abused its power, which cannot be settled amicably, as declared by one Party and as established in the previous paragraph, shall be subject to the jurisdiction of the competent court in Brussels. Such court shall have jurisdiction in the event of a counterclaim made by the defendant in the legal action. 
              </p>
              <p>

                You and Us agree that any dispute, claim or controversy arising out or in connection with the use of OIL Services, shall be submit within two (2) [TBC] years from the occurrence of the subject matter of the dispute, claim or controversy. Beyond this term, the dispute, claim or controversy shall be considered as time barred. 
              </p>
            </div>
          </section>
          <section class="tab-pane active" id="rk">

            <div>
              <h3>#11- Miscellaneous</h3>
              <h6>11.1_Notices</h6>

              <ul>
                <li> 
                  <span class="definitions">I - To You</span> 
                  Except as otherwise set forth herein, notices made by Us to You under this Agreement that affect You (e.g., updates services offers and description etc.) will generally be posted on the FIWARE OIL Site. Notices made by Us under this Agreement for You specifically (e.g., notices of breach and/or suspension) will be provided to You via: 
                  <span class="point">(a)</span> the email address provided to Us during creation of Your account for the FIWARE OIL Services or in any updated email address You provide to Us in accordance with standard account information update procedures We may provide from time to time.
                  <span class="point">(b)</span> through any other mean We consider appropriated. It is Your responsibility to keep Your email address current and You will be deemed to have received any email sent to any such email address, upon Our sending of the email, whether or not You actually receive the email.  
                </li>
                <li>
                  <span class="definitions">II - To Us</span>
                  For notices made by You to Us under this Agreement and for questions regarding this Agreement or the FIWARE OIL Services, You may contact us through the FIWARE OIL Site at the Contact Us section.   
                </li>
              </ul>
            </div>
            <div>
              <h6>11.2_Relationship</h6>

              <p> 
                Nothing in this Agreement is intended to or does create any type of joint venture, creditor-debtor, escrow, partnership or any employer/employee or fiduciary or franchise, distributor, dealer or agency relationship between You/Your End Users and Us.
              </p>
            </div>

            <div>
              <h6>11.3_Entire Agreement</h6>

              <p> 
                Nothing in this Agreement is intended to or does create any type of joint venture, creditor-debtor, escrow, partnership or any employer/employee or fiduciary or franchise, distributor, dealer or agency relationship between You/Your End Users and Us.
              </p>
            </div>

            <div>
              <h6>11.4_Force Majeure</h6>

              <p> 
                Neither party shall be deemed in default or liable to the other party for any matter whatsoever for any delays in performance or from failure to perform or comply with the terms of this Agreement due to any cause beyond that party’s reasonable control including, without limitation, acts of Government or other competent regulatory authority, telecommunications network operators, war or national emergency, riots, civil commotion, fire, explosion, flood, lightning, extremely severe weather, epidemic, lock-outs, strikes and other industrial disputes (in each case, whether or not relating to that party’s workforce).
              </p>
            </div>


            <div>
              <h6>11.5_Severability</h6>

              <p> 
                If any part of this Agreement is held by a court of competent jurisdiction to be invalid, illegal or unenforceable, the remaining parts of this Agreement will remain in full force and effect. In such circumstances, the parties shall negotiate in good faith in order to agree the terms of a mutual satisfactory provision, achieving as nearly as possible the same commercial effect, to be substituted for the provision which is found to be invalid, illegal or unenforceable.      
              </p>
            </div>

            <div>
              <h6>11.6_Waivers</h6>

              <p> 
                The failure or delay by either party to this Agreement to exercise or enforce any right, power or remedy under this Agreement shall not be deemed to operate as a waiver of any such right, power or remedy; nor shall any single or partial exercise by any party operate so as to bar the exercise or enforcement thereof or of any right, power or remedy on any later occasion.      
              </p>
            </div>

            <div>
              <h6>11.7_Successors and Assigns </h6>

              <p> 
                This Agreement will be binding upon, and inure to the benefit of the parties and their respective successors and assigns.
              </p>
            </div>

            <div>
              <h6>11.8_Language</h6>
              <p> 
                All communications and notices to be made or given pursuant to this Agreement shall be in English language.
              </p>      
            </div>
          </section>
        </div> 
      </div>




