body{
  background-color: #fcfcfc;
}
header{
  display: block;
  background-color: #f4f4f4;
  padding: 1px 10px 1px;
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  position: fixed;
  width: 96%;
  height: 35px;
  padding: 1px 2% 1px;
  z-index: 2000000;
}
nav.navbar-inner{
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;  
}
nav.navbar-inner .logo-header{
  display: inline
}

.logo-header img{
  width: 60px;
  padding-top: 0;
  float: left;

}

.logo-header .brand{
  padding: 0;
  width: auto;
  float: none;
  margin: 12px 0 0 3px;
  font-size: 23px;
  color: #555;
  font-family: "DsignesRegular";
  display: inline-block;
}

.logo-header .brand a{
  font-size: 34px;
  color: #555;
}

.logo-header .brand a:hover{
  text-decoration: none;
}

.logo-header .brand a:hover span{
  font-size: 17px;
  color: #888;
}



ul.oil-portal{
  width: 300px;
  height: 36px;
  padding: 0px 14px;
  margin-bottom: 0px;
  display: inline-block;
}

ul.oil-portal li{
  display: inline-block;
  padding: 14px 18px 9px;
}

ul.oil-portal li:hover{
  background-color: rgba(152, 152, 152, 0.1);
  height: 18px;
}

ul.oil-portal li a{
  color: #555;
  font-family: "";
}

ul.oil-portal li a:hover{
  color: #049cdb;
}

ul.oil-portal li.active{
  background-color: #fcfcfc;
  height: 18px;
  -moz-box-shadow: 0px 9px 0px -1px #FCFCFC;
  -webkit-box-shadow: 0px 9px 0px -1px #FCFCFC;
  box-shadow: 0px 9px 0px -1px #FCFCFC;
}

ul.oil-portal li.active a{
  color: #049cdb;
}