<p class="first-time-message">
  <h4>  
    You don't have any application.
  </h4>

  <span>Would you like create your first application?</span>

  <%= link_to "Register Application", new_application_path %>
</p>
