<div class="first-time-message">
  <h3>  
    You don't have any application.
  </h3>

  <span>Would you like create your first application?</span>

  <%= link_to "Create Application", new_application_path %>
</div>
