<% if current_subject.is_a?(Organization) && resource.grants_roles?(current_subject) %>
  <li><a href="#authorize-<%= dom_id current_subject %>" data-toggle="tab"><%= current_subject.name %></a></li>
<% end %>
