div.home
  margin: 59px 0 0 0
  div.applications
    @include grid-core-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
    float: left
    ul
      @include application
    .view-all
      float: right

  div.organizations,
  div.members
    @include grid-core-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
    float: right
    margin: 0 0 43px 2.5%

  div.organizations
    form
      margin-bottom: 4px
      
  div.applications,
  div.organizations,
  div.members
    @include inside-box

      
  
