/************* typography*******/

@font-face {
  font-family: Comfortaa;
  src: url(fonts/comfortaa_regular-webfont.ttf) format('truetype');
}

@font-face {
  font-family: DsignesRegular;
  src: url(fonts/DsignesRegular.ttf);
  src: url(fonts/DsignesRegular.otf);
}