require_dependency 'fi_ware_idm'

FiWareIdm.setup do |config|
  # The domain this IdM in installed at
  #
  # config.domain    = 'account.lab.fi-ware.org'

  # The subdomain of the portal: cloud, store, mashup
  #
  # config.subdomain = 'lab.fi-ware.org'

  # The sender of registration emails
  #
  # config.sender    = 'no-reply@account.lab.fi-ware.org'

  # The name of the IdM
  # config.name      = "FI-Lab"

  # The logo of the IdM
  #
  # config.logo      = "FI-Lab.png"

  # Email address that will receive bug reports
  #
  # config.bug_receivers = [ 'admin@lab.fi-ware.org' ]

  # List of email domains that are allowed to register
  #
  # whiteListPath = "config/emailLists/whitelist.txt"
  # if File.exists?(whiteListPath)
  #   config.allowed_email_domains = File.read(whiteListPath).split("\n")[0].split(", ")
  # else
  #   config.allowed_email_domains = %w( example.com other-example.com )
  # end

  # List of email domains that are not allowed to register
  #
  # blackListPath = "config/emailLists/blacklist.txt"
  # if File.exists?(blackListPath)
  #   config.forbidden_email_domains = File.read(blackListPath).split("\n")[0].split(", ")
  # else
  #   config.forbidden_email_domains = %w( example.com other-example.com )
  # end

end

