<div class="applications">
  <header>
    Applications
    <a href="#">add</a>
  </header>

 <% if current_subject.applications.blank? %>
    <div class="first-time-message">
      <h3>  
        You dont have any application.
      </h3>
        Wana like create your first application?
    </div>
 <% else %>
    <%= render partial: 'site/clients/list',
               object: current_subject.applications %>

    <%= link_to site_clients_path do %>
        <%= t('view all') %>
      <% end %>

 <% end %>
</div>
