<div class="applications">
  <header>
    Applications
    <%= link_to "add", new_application_path %>
  </header>

  <% if current_subject.applications.blank? %>
    <%= render partial: 'applications/first'%>
  <% else %>
    <%= render partial: 'site/clients/list',
               object: current_subject.applications.first(5) %>

    <%= link_to t('view all'), applications_path, :class => "view-all" %>
  <% end %>
</div>
