<div class="applications">
  <header>
    Applications
    <a href="#">add</a>
  </header>

  <% if current_subject.applications.blank? %>
    <%= render partial: 'site/clients/first'%>
  <% else %>
    <%= render partial: 'site/clients/list',
               object: current_subject.applications.first(5) %>

    <%= link_to site_clients_path do %>
      <%=link_to t('view all'), site_clients_path, :class => "view-all" %>
    <% end %>
  <% end %>
</div>
