<div class="members">
  <header>
    Members
  </header>

  <form class="form-inline">
    <input type="text" class="input-small" placeholder="search..">
  </form>

  <%= render Contact.index(subject: current_subject).first(5) %>

  <%= link_to 'View more', contacts_path %>
</div>
