<div class="members">
  <header>
    Members
  </header>
  <%= link_to "add", new_member_path %>
  <form class="form-inline">
    <%= text_field_tag "contact-filter", "", placeholder: "filter", autocomplete: "off" %>
  </form>

  <%= render Contact.index(subject: current_subject).first(5) %>

  <%= link_to 'View more',  contacts_path, :class => "view-all"  %>
</div>
