<div id="home">
  <div class="home">
    <%= render partial: 'home/applications' %>

    <% if current_subject.is_a? User %>
      <%= render partial: 'home/organizations' %>
    <% else %>
      <%= render partial: 'home/members' %>
    <% end %>
  </div>
</div>
