<div id="home">
  <%= render partial: 'toolbar/toolbar' %>

  <div class="home">
    <%= render partial: 'home/applications' %>

    <%= render partial: 'home/organizations' %>

    <%= render partial: 'home/stats' %>
  </div>
</div>