header
  nav.navbar-inner
    .brand
      margin: 31px 0 0 2px !important
    .logo
      padding-top: 10px
      width: 94px
    .home
      width: auto
      float: none
      margin-top: 0
      a
        span
          margin-left: -4px
    h2
      margin-top: 0
      padding-left: 6px

  .search-mobile
    display: none !important