header
  nav.navbar-inner
    .brand
      margin-left: 2px !important
      margin-top: 31px !important
    .home
      a
        font-size: 40px
      h2
        font-size: 22px !important
        margin-top: 0
        padding-left: 6px