/************* typography*******/

@font-face {
  font-family: Comfortaa;
  src: url(icons&fonts/fonts/comfortaa_regular-webfont.ttf) format('truetype');
  src: url(icons&fonts/fonts/comfortaa_regular-webfont.svg);
  src: url(icons&fonts/fonts/comfortaa_regular-webfont.eot);
  src: url(icons&fonts/fonts/comfortaa_regular-webfont.woff);
}

@font-face {
  font-family: DsignesRegular;
  src: url(fonts/DsignesRegular.ttf);
  src: url(fonts/DsignesRegular.otf);
}