/************* typography*******/

@font-face {
  font-family: Comfortaa;
  src: url(fi-ware_idm/icons_and_fonts/fonts/comfortaa_regular-webfont.ttf) format('truetype');
  src: url(fi-ware_idm/icons_and_fonts/fonts/comfortaa_regular-webfont.svg);
  src: url(fi-ware_idm/icons_and_fonts/fonts/comfortaa_regular-webfont.eot);
  src: url(fi-ware_idm/icons_and_fonts/fonts/comfortaa_regular-webfont.woff);
}

@font-face {
  font-family: DsignesRegular;
  src: url(fi-ware_idm/icons_and_fonts/fonts/DsignesRegular.ttf);
  src: url(fi-ware_idm/icons_and_fonts/fonts/DsignesRegular.otf);
}

@font-face {
  font-family: NeoTech;
  src: url(fi-ware_idm/icons_and_fonts/fonts/NeoTechStd-Regular.otf);
  src: url(fi-ware_idm/icons_and_fonts/fonts/NeoTechStd-Medium.otf);
}