.relation_customs,
.site_client_roles
  @include principal-box
  margin-top: 59px
  header
    position: absolute
    margin-top: -23px
.site_client_roles
  @include privacity
  padding: 32px 0 28px
  margin-right: 17.5%

#permissions
  width: 40%
  margin-left: 16px