.relation_customs,
.site_client_roles
  @include principal-box
  margin-top: 59px
  header
    position: absolute
    margin-top: -23px
.site_client_roles
  @include privacity
  width: 100%
  float: left
  padding: 25px 0 0px
  margin: 0 0 20px
#edit_site_client
  .logo
    margin-bottom: 20px
    input
      &[type="submit"]
        @include btn-primary
        

#permissions
  width: 40%
  margin-left: 16px
  .postit
    background-image: none
    font-size: 14px
    font-family: $sansFontFamilyLight
    padding: 0px
    @include size(auto,auto)
    margin-bottom: 0px
  .rotate
    @include rotate(0)
