/*create screen*/

#new_organization
  h3
    text-align: right
  .well
    padding: 0
    min-height: 296px
  form#new_organization
    @include forms
    .name,
    .owners,
    .description
      clear: both
    .name,
    .owners
      min-height: 62px
    .description
      min-height: 96px
    .btn
      margin-top: 0px
      margin-right: 0 !important

      
  #new_organization
    textarea
      max-height: 50px 

.modal-body
  form
    box-shadow: none !important
    border: none !important
  section
    border: none !important
