<section id="presentation">
  <article class="media">
    <a class="pull-left" href="#">
      <img class="media-object" alt="identify" src="/assets/user-front.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        Identity
      </h3>
      The platform contains lots of users and organizations working together to achieve these great infrastructure network.
     </div>
  </article>

  <article class="media">
    <a class="pull-left" href="#">
      <img class="media-object" alt="cloud" src="/assets/cloud-front.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        Cloud
      </h3>
      Cloud hosting in FI-WARE will handle the efficient and effective provision of the computation, storage and network resources, upon which services are provisioned and managed.
     </div>
  </article>

  <article class="media">
    <a class="pull-left" href="#">
      <img class="media-object" alt="market" src="/assets/market-front.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        Market
      </h3>
      fi-ware Apps is a marketplace designed to provide a variety of applications specially developed for use in the Future Internet.
     </div>
  </article>

  <nav class="view-more pull-right">
    <a href="#">
      <i class='icon_tool16-more'></i>view more
    </a>
  </nav>

</section>
