<article id="presentation">
  <script>
    var confirm_help_box = function () {
      var r = confirm("The communications sent to the FIWARE Lab support list are public and they generate public tickets. Please avoid sending private info unless you are happy to see it publicly available.");
      if (r == true) {
          window.location = "mailto:fiware-lab-help@lists.fi-ware.org?Subject=FI-Lab Assistance";
      } 
    }
   </script>
  <section class="media">
    <h3 class="media-heading">
      FIWARE Lab
    </h3>
    <span>
      FIWARE Lab is a working instance of FIWARE available for experimentation.
    </span>
    <p>
      You will be able to setup the basic virtual infrastructure needed to run applications that make use of the APIs provided by FIWARE Generic Enablers deployed as a Service either globally or by you (as private instance).
    </p>
    <div class="sign_up">
      <%= link_to t('devise.links.sign_up'), new_registration_path(resource_name) %>
    </div>
  </section>

   <section class="help-bar">
        <div style="cursor: pointer;" class="help-box" onclick="confirm_help_box()">
            <header>
              <img src="/assets/help.png">
              <h5>Need Help?</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          <div>
            Ask a question.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="http://catalogue.fi-ware.org/enablers">
            <header>
              <img src="/assets/ges.png">
              <h5>Our GEs</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>  
          <div>
            See our Catalogue.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="https://www.fi-xifi.eu/fi-ops.html">
            <header>
              <img src="/assets/fi-ops.png">
              <h5>FIWARE Lab nodes</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>
          <div>
            Learn about FIWARE Ops.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="http://edu.fi-ware.org/">
            <header>
              <img src="/assets/more-info.png">
              <h5>eLearning</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>
          <div>
            Train yourself.
          </div>
        </div>
      
      </section>
     
</article>
