<article id="presentation">
  <section class="media">
    <a class="pull-left" href="#">
      <img class="media-object" alt="identify" src="/assets/user-front.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        Identity Manager
      </h3>
      The platform contains lots of users and organizations working together to achieve this great infrastructure network.
     </div>
  </section>
</article>



