<section class="applications well">
  <% if subject.applications.present? %>
    <ul class="applications-list list-group">
      <li class="list-group-item">
        <%= render subject.applications %>
      </li>
    </ul>
  <% else %>
    <% if profile_subject_is_current? %>
      Haven't you any application?

      <%= link_to 'Create application', new_application_path %>
    <% else %>
      <%= subject.name %> has not any application.
    <% end %>
  <% end %>
</section>

