.site_clients
  @include grid-core-span(9, $fluidGridColumnWidth, $fluidGridGutterWidth)
  float: left
  h3
    text-align: right
    a.new_site_client-modal-link
      float: left !important
      margin-left: 10px

#new_site_client,
.oauth2_server
  #toolbar
    display: none
.new_site_client,
.site_clients,
#oauth2_server
  width: 70.97872% !important
  float: left
  margin-left: 0px !important