header.navbar
  position: fixed
  width: 96%
  height: 35px
  padding: 1px 2% 1px
  z-index: 2000000
  nav.navbar-inner
    .logo-header
      display: inline
      img
        width: 60px
        padding-top: 0
      .brand
        padding: 0
        width: auto
        float: none
        margin: -1px 0 0 3px 
        font-family: "NeoTech"
        a
          font-size: 23px
    .mobile
      display: none
      .dropdown-menu  
        margin-left: -67px
        min-width: 90px
        background-color: rgb(244, 244, 244)
        border: none
        -webkit-border-top-left-radius: 0px
        -moz-border-top-left-radius: 0px
        border-top-left-radius: 0px
        -webkit-border-top-right-radius: 0px
        -moz-border-top-right-radius: 0px
        border-top-right-radius: 0px
        -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1)
        -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1)
        box-shadow: 2px 3px 6px rgba(0,0,0,0.1)
        margin-top: 0px
        .active
          a 
            background-color: $blueLight
            background-image: none
            color: #fff
            &:hover,
            &:focus
              background-color: rgba(152, 152, 152, 0.1)
              background-image: none
              color: #fff

        li 
          a
            &:hover
              background-color: rgba(152, 152, 152, 0.1)
              background-image: none
              color: $gray






  ul.oil-portal
    width: 366px
    height: 36px
    padding: 0px
    margin-bottom: 0px
    margin-left: 2px
    display: inline-block
    li
      display: inline-block
      padding: 14px 18px 9px
      &:hover
        background-color: rgba(152, 152, 152, 0.1)
        height: 18px
        a
          color: $blueLight

      a
        color: $gray
        &:hover
          color: $blueLight
    li.active
      background-color: #fcfcfc
      height: 18px
      @include box-shadow (0px 9px 0px -1px #FCFCFC)
      a
        color: $blue

