#terms_of_service
  ul.nav
    margin: 0 0 0 19px
    width: 25%
    li
      margin: 0 0 1px 0
  div.tab-content
    margin: 0
    width: 71%
    section
      &:first-child
        margin-top: -40px
  h3
    margin-top: 40px
  h6
    letter-spacing: 0.06em
    margin-bottom: 4px
  h6,
  p
    margin: 8px 0 0 17px
  p
    &:first-child
      margin-top: 0px
  .definitions,
  .point
    color: $gray
  .definitions
    display: inline-block
  .point
    font-style: italic
    margin-right: 4px
    vertical-align: text-bottom
    font-size: 13px
  div
    margin: 20px 0 20px
    ul
      margin: 10px 0 20px 10px

      li
        margin: 14px 0 14px 14px
        ol
          margin: 10px 0 2px 20px
          li
            margin: 6px 0 8px
            margin-bottom: 14px
            &:last-child
              margin-bottom: 20px
            ul
              margin: 2px 0px 18px 1px