header.navbar
  display: block
  background-color: #f4f4f4
  padding: 1px 10px 1px
  border-bottom: 1px solid #F2F2F2
  @include box-shadow (0px 1px 8px rgba(50, 51, 51, 0.15))
  nav.navbar-inner
    a.brand
      font-size: 23px
      color: #60c1cf
      &:hover
        text-decoration: none
      span
        color: #002d67

.dropdown
  .dropdown-menu
    .dropdown-submenu
      a 
        &:hover,
        &:focus,
        &:active
          color: $white
          background-color: $blue
          background-image: none
      .active
        a,
        &:focus
          background-color: $blue
      li
        a 
          &:hover,
          &:focus,
          &:active
            color: white
            background-color: $blue
            background-image: none