header.navbar
  display: block
  background-color: #f4f4f4
  padding: 1px 10px 1px
  border-bottom: 1px solid #F2F2F2
  @include box-shadow (0px 1px 8px rgba(50, 51, 51, 0.15))
  nav.navbar-inner
    .brand
      a
        font-size: 34px
        color: $gray
        &:hover
          text-decoration: none
        span
          font-size: 17px
          color: $grayLight
    

.dropdown
  .dropdown-menu
    .dropdown-submenu
      a 
        &:hover,
        &:focus,
        &:active
          color: $white
          background-color: $blue
          background-image: none
      .active
        a,
        &:focus
          background-color: $blue
      li
        a 
          &:hover,
          &:focus,
          &:active
            color: white
            background-color: $blue
            background-image: none