#header
  .headerFront
    margin-top: -4px
    a
      display: inline
      img
        margin-top: 31px
        vertical-align: top
    .brand
      display: inline-block
      font-size: 50px
      margin-top: 46px
      a
        display: block
      h3
        display: block
        font-family: $corporationFontFamily
        color: $gray
        a
          display: inline
