#toolbar
  @include makeColumn(3, 0)

#content
  h1
    @include clearfix
    font-family: $corporationFontFamily
    color: $blue
    margin-right: 13px
    text-align: right
.content-large
  width: 680px !important
.dropdown
  .dropdown-menu
    .dropdown-submenu
      a 
        &:hover,
        &:focus,
        &:active
          color: $white
          background-color: $blue
          background-image: none
      .active
        a,
        &:focus
          background-color: $blue
      li
        a 
          &:hover,
          &:focus,
          &:active
            color: white
            background-color: $blue
            background-image: none

#flash
  @include makeColumn (5, 0)
  margin: 20px 0 0 0

header
  .navbar-inner
    margin-top: -4px
    a
      float: left
      display: inline
      img
        margin-top: 18px
        vertical-align: top
    .brand
      display: inline-block
      font-size: 50px
      margin-top: 46px
      a
        display: block
        color: #8C8C8C
        &:hover
          color: #8C8C8C
          text-decoration: none