#content
  h1
    @include clearfix
    font-family: $corporationFontFamily
    color: $blue
    margin-right: 13px
    text-align: right

.content-large,
.content-short
  width: 575px !important
  @include box-shadow(0px 0px 13px rgba(50, 50, 50, 0.15))
  @include border-radius(15px)
  padding: 15px
  height: 400px

.dropdown
  .dropdown-menu
    .dropdown-submenu
      a 
        &:hover,
        &:focus,
        &:active
          color: $white
          background-color: $blue
          background-image: none
      .active
        a,
        &:focus
          background-color: $blue
      li
        a 
          &:hover,
          &:focus,
          &:active
            color: white
            background-color: $blue
            background-image: none

#flash
  @include makeColumn (5, 0)
  margin: 20px 0 0 0

header
  .navbar-inner
    margin-top: -4px
    .home
      a
        font-size: 45px
    a
      display: inline
      img
        float: left
        vertical-align: top
        max-width: 95%
    .brand
      display: inline-block
      font-size: 27px
      margin-top: 36px
      margin-left: 4px
      a
        display: block
        font-size: 45px
        color: #8C8C8C
        margin-bottom: 2px
        &:hover
          color: #8C8C8C
          text-decoration: none
      h2
        display: block
        font-family: $corporationFontFamily
        font-size: 27px
        color: $blue
        margin: 8px 0px -2px 4px
    .nav
      margin-top: 20px
      a
        display: block