#new_site_client
  width: 570px
  margin-left: auto
  margin-right: auto
  h1
    float: none !important
    text-align: right
  .media-object
    margin: 12px 10px 10px 10px
    @include size (100px, 100px)
  .media
    padding-left: 20px
    .media-body
      label
        margin-bottom: 8px
        width: 300px
      input
        &[type="text"]
          @include border-radius(3px)
          color: $grayLighter
          background-color: $white
          padding: 8px 5px 5px 8px
.first-img
  h1
    text-align: right
    @include clearfix
  header
    font-size: 21px
    color: $gray
    a
      font-size: 14px
      float: right
    .soften
      margin: 9px 0 10px 0
      @include opacity (100)
  img
    display: inline
    background: $blue
    @include size (40px, 40px)
  .name,
  .url,
  .users
    display: inline-block
    color: $gray
  .name,
  .url
    margin-left: 20px
  .users
    float: right
    margin-top: 7px
    span
      color: $blue
  .soften
    margin: 10px 0
    @include opacity (70)
      
#oauth2_server
  padding-right: 75px
  h1
    float: none !important
    text-align: right
  .media-object
    margin: 12px 10px 10px 10px
    @include size (100px, 100px)
  .media
    padding-left: 20px
    .media-body
      h3
        margin-bottom: 8px
        width: 300px
      .result
        @include border-radius(3px)
        color: $grayLighter
        background-color: $white
        padding: 8px 5px 5px 8px
  .pull-left
    margin-right: 48px
    margin-left: 30px
  

input
  &[type="submit"]
    @extend .btn-blue
    background-image: none
