.box
  .media-body
    .url,
    .callback,
    .id-client,
    .client-secret
      margin-bottom: 8px
      .result
        @include border-radius(3px)
        color: $gray
        background-color: $white