#registration
  @include makeColumn(7, 4)
  .right
    margin-top: 0px

#forgot-pass
  margin-left: 340px
  .forgot
    margin-bottom: -40px!important
    margin-left: 74px
  .left
    h1
      text-align: left
  .right
    margin-top: 0px

