#registration
  @include makeColumn(7, 4)
  .right
    margin-top: 0px

#welcome
  .forgot
    @include makeColumn(7, 5)
    margin-top: 20px !important
    margin-bottom: -40px!important
  .right
    @include makeColumn(7, 5)
