#registration
  @include makeColumn(7, 4)
  .right
    margin-top: 0px

#welcome
  @include makeColumn(7, 4)
  .forgot
    margin-bottom: -40px!important
    margin-left: 80px!important
  .right
    margin-top: 0px

