<div class="first-time-message">
  <h4>  
    Not are a member of any organization?
  </h4> 
  <span>You are not member of any organization?</span>

  <%= link_to "Browse Organizations", new_organization_path %>
</div>