<section class="organizations-list">
    <img>

    <div class="name">
    	<a href="·">
      name
    </a>
    </div>
   
    <hr class="soften">
        <img>

    <div class="name">
    	<a href="·">
      name
    </a>
    </div>
   
  <hr class="soften">
      <img>

    <div class="name">
    	<a href="·">
      name
    </a>
    </div>
   
    

 </section> 