<section class="organizations-list">

  <% current_user.organizations.first(5).each do |org| %>
    <div class="organization">
      <div class="avatar">  
        <%= link_to org do %>
          <%= image_tag org.logo.url(:small) %>
        <% end %>
      </div>
      <div class="data">
        <div class="name">
          <%= link_to org.name, org %>
        </div>
        <% if can? :represent, org %>
          <%= link_to "switch", s: org.slug %>
        <% end %>
        <div class="definition">
          definition definition definition definition definition definition definition definition definition definition definition definition
        </div>
      </div>
    </div>
    <hr class="soften">
  <% end %>

</section> 
