<p>Hello <%= @email %>!</p>

<p>Welcome to <%= FiWareIdm.name %>! By clicking on the link "I accept" below, you state that you have read and accepted the <a href="http://wiki.fi-ware.org/FI-LAB_Terms_and_Conditions">FIWARE Lab Terms and Conditions</a> and the creation of your account will be confirmed:</p>

<p><%= link_to 'I accept', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
