// menu horizontal
// ----------------------------------

@mixin principal-box
  @include border-radius(5px)
  @include box-shadow (1px 1px 15px 0px rgba(50, 50, 50, 0.1))
  border: 1px solid 
  border-color: rgba(0,0,0, 0.1)
  background-color: $auxiliarColor
  border-color: rgba(0,0,0, 0.1)

@mixin contact
  .avatar
    @include size(40px, 40px)
    float: left
    margin-bottom: 6px
    position: absolute
  .data
    float: left
    margin: 6px 0 0 60px
    width: 115px
    a
      display: inline-block
    .name
      display: inline
      a
        color: $gray
        @include ellipsis
  .add
    @include btn-add
    margin: 0 0 0 60px
    padding-top: 27px


@mixin application
  margin-left: 0
  li
    img
      @include size(40px, 40px)
      float: left
      margin-bottom: 6px
    .data
      float: left
      .name,
      .url
        margin-left: 10px
      
      .name
        a
          color: $gray
      .url
        margin-bottom: 6px
        font-size: 14px

    .users
      float: right
      
    .team
      @include grid-core-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
      float: right
      margin-top: -2px
      text-align: right
      font-size: 12px
      .users,
      .auth
        padding-top: 2px
        text-align: right
        span
          color: $principalColor
      .auth
        display: inline-block




@mixin inside-box
  padding: 12px
  min-height: 300px
  header
    margin: -38px 0 15px -12px
    font-size: 20px
    a
      float: right
      font-size: 16px
  .first-time-message
    h3
      font-size: 22px
      margin-bottom: 15px
      line-height: 26px
  .contact
    @include contact

  .site_clients
    width: 100% !important
  
  .soften
    clear: both
    margin-bottom: 7px
  
