// menu horizontal
// ----------------------------------

@mixin principal-box
  @include border-radius(5px)
  @include box-shadow (1px 1px 15px 0px rgba(50, 50, 50, 0.1))
  border: 1px solid 
  border-color: rgba(0,0,0, 0.1)
  background-color: $auxiliarColor
  border-color: rgba(0,0,0, 0.1)

@mixin contact
  .avatar
    @include size(40px, 40px)
    float: left
    margin-bottom: 6px
  .data
    float: left
    margin-left: 10px
    .name
      a
        color: $gray


@mixin application
  img
    @include size(40px, 40px)
    float: left
    margin-bottom: 6px

  .name,
  .url
    float: left
    margin-left: 10px
  
  .name
    a
      color: $gray
  .url
    margin-bottom: 6px



@mixin inside-box
  padding: 12px
  min-height: 300px
  header
    margin-top: -38px
    margin-left: -12px
    a
      float: right
      font-size: 16px
  .first-time-message
    h3
      font-size: 22px
      margin-bottom: 15px
      line-height: 26px
  .contact
    @include contact

  .site_clients
    width: 100% !important
  
  .soften
    clear: both
    margin-bottom: 7px
  
  .users
    padding-top: 2px
    text-align: right
    span
      color: $principalColor
