// menu horizontal
// ----------------------------------
@mixin forms
  label
    margin-bottom: 0px
    font-size: 18px !important
    color: #049CDB  !important
    font-family: "Comfortaa"
  input
    margin-bottom: 18px
    margin-left: 20px
    padding-top: 5px
    border-top: 1px solid #C1C1C1
    color: #929292
    font-size: 17px
  textarea
    min-height: 40px
    max-height: 55px
    background-image: none !important
    background-color: #f4f4f4
    border-left: none
    border-right: none
    border-bottom: none
    box-shadow: none
    @include border-radius(0px)
    float: right
  input
    &[type="text"]
      background-image: none !important
      background-color: #f4f4f4
      border-left: none
      border-right: none
      border-bottom: none
      box-shadow: none
      @include border-radius(0px)
      float: right
  .description
    textarea
      max-height: 50px
  .url,
  .email
    textarea
      max-height: 20px
  input
    &[type="submit"]
      float: right