// menu horizontal
// ----------------------------------
@mixin menuHorizontal 
  list-style-type: none
  margin-left: 4em
  display: inline
  li
    display: inline

@mixin centered
  margin-left: 0px
  margin-right: 0px
