// menu horizontal
// ----------------------------------
@mixin menuHorizontal 
  list-style-type: none
  margin-left: 4em
  display: inline
  li
    display: inline


@mixin centered
  margin-left: 0px
  margin-right: 0px


@mixin header-tab
  header
    margin-bottom: 0
    margin-top: 0
    a
      float: left
      @include btn-secundary
      @include border-radius(7px)
      margin-top: 13px
    h3
      font-size: 21px
      color: $gray
      float: none !important
      text-align: right

  .search-nav
    float: right
    width: 30%

  ul.nav-tabs
    margin: -25px 0 0
    width: 100%
    float: left