#profile-info_edit
  header
    margin-bottom: 0
  .personal
    #edit_profile_form
      min-height: 230px
  .comunication-info
    #edit_profile_form
      min-height: 210px

form.edit_profile,
.avatar-edit
  @include principal-box
  @include forms
  min-height: 170px
  input
    &[type="submit"]
      @include btn-primary      
  