#profile-info_edit
  margin-top: 23px
  header
    margin-bottom: 0
  .personal
    .edit_profile
      min-height: 291px
  .comunication-info
    .edit_profile
      min-height: 182px
  p
    width: 200px
    float: left
  .avatar
    margin-bottom: 20px
.name-required
  width: 20px
  display: inline



.avatar-edit
  @include principal-box
  @include forms
  input
    &[type="submit"]
      @include btn-primary 
      margin-right: 0px
      margin-top: 15px

form.edit_profile
  @include principal-box
  @include forms
  input
    &[type="submit"]
      @include btn-primary 
      margin-right: 0px


  