.new_site_client,
.site_clients,
#site_client
  #toolbar
    display: none
  .tabbable
    margin-top: 30px


.site_clients
  .team
    width: 13% !important

.site_clients_list
  ul
    @include application
    li
      margin-top: 5px
 


.authorization
  width: 322px !important
  margin-left: auto
  margin-right: auto
  h2
    margin-top: -3px
    border-bottom: 1px solid #ccc
    color: $blue
    font-family: $sansFontFamily
  form
    text-align: right
    margin-bottom: -5px
    margin-top: 14px
    border-top: 1px solid #f1f1f1
    padding-top: 10px

  ul
    margin-top: 5px
    margin-left: 10px
    li
      padding-bottom: 5px
      padding-top: 5px


/*show screen*/
#site_client
  margin-top: 32px
  .site_client
    width: 95% 
    padding: 0 2.5%
    margin-bottom: 30px
    display: inline-block
    header
      margin-top: -37px
      h4
        @include clearfix
        margin-bottom: 4px
        margin-left: -2.5%
        a
          font-size: 13px
      img
        margin-top: -52px
    .soften
      margin-bottom: 0px
    .content
      padding: 14px
      img
        display: inline
        @include size (40px, 40px)
      .gereral-info
        @include grid-core-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        margin-top: -50px
        h4
          margin-bottom: 0px
          font-size: 18px
          color: $principalColor
          font-family: $serifFontFamily 
        .name,
        .url,
        .users
          display: inline-block
        .name,
        .url
          margin-left: 20px

        .result
          margin-bottom: 18px
          margin-left: 20px
          padding-top: 5px
          border-top: 1px solid #C1C1C1
          color: #929292
      .accordion
        h6
          border-bottom: 1px solid #CCC
          a
            color: $principalColor !important
        div.client-secret,
        div.client-id
          form
            margin-top: -20px
            input
              &[type="submit"]
                border: none
                box-shadow: none
                &:hover
                  background-color: $white !important
                  color: $principalColor

            p
              padding-left: 10px
        div.client-secret 
          word-wrap: break-word
          min-height: 22px
          width: 100%
          input
            &[type="submit"]
              padding-right: 0px
  .tabbable
    .tab-content
      overflow: visible
      .contact
        @include contact
        .add
          @include btn-add
          margin: 0 0 0 60px
          padding-top: 27px

/*create screen*/

form#new_application,
form#new_organization
  @include principal-box
#site_client_form
  padding: 20px 2.5% 35px
  min-height: 280px
  section
    clear: both
  .description
    textarea
      max-height: 50px
  .name,
  .url,
  .callback_url
    textarea
      min-height: 20px
      max-height: 20px
  .btn-secundary
    margin-top: 9px


/*edit screen*/

#edit_site_client
  padding-top: 56px
  .edit_site_client
    form
      padding: 10px 0 60px 10px
      @include principal-box
      section
        label
          font-family: $serifFontFamily
          color: $principalColor
          font-size: 15px
      textarea
        min-height: 40px
        max-height: 55px
        background-color: transparent
        border-left: none
        border-right: none
        border-bottom: none
        box-shadow: none
        @include border-radius(0px)
        float: right
      input
        &[type="text"]
          background-color: transparent
          border-left: none
          border-right: none
          border-bottom: none
          box-shadow: none
          @include border-radius(0px)
          float: right
      section.url,
      section.callback_url
        textarea
          min-height: 27px
          max-height: 28px

  .site_client_roles
    width: 100%
    margin: 0 0 20px 0

  #cancel_account
    clear: both
    @include principal-box
    &:hover
      border-color: $red !important
      a
        color: $red !important
    header
      margin-bottom: 0
    #cancel_account_content
      a
        color: $red !important