.new_site_client,
.site_clients,
#site_client
  #toolbar
    display: none
  .tabbable
    margin-top: 30px

form.new_site_client
  @include principal-box
  padding: 3%
  width: 94% !important
  margin-left: 0 !important


.site_clients
  .team
    width: 13% !important

.site_clients_list
  ul
    @include application
    li
      margin-top: 5px
      min-height: 49px
 


.authorization
  width: 322px !important
  margin-left: auto
  margin-right: auto
  h2
    margin-top: -3px
    border-bottom: 1px solid #ccc
    color: $blue
    font-family: $sansFontFamily
  form
    text-align: right
    margin-bottom: -5px
    margin-top: 14px
    border-top: 1px solid #f1f1f1
    padding-top: 10px

  ul
    margin-top: 5px
    margin-left: 10px
    li
      padding-bottom: 5px
      padding-top: 5px


/*show screen*/
#site_client
  margin-top: 74px
  .site_client
    width: 95% 
    padding: 0 2.5%
    margin-bottom: 30px
    display: inline-block
    header
      margin-top: -37px
      h4
        @include clearfix
        margin-bottom: 4px
        margin-left: -2.5%
        a
          font-size: 13px
      img
        margin-top: -52px
    .soften
      margin-bottom: 0px
    .content
      padding: 14px
      img
        display: inline
        @include size (40px, 40px)
      .gereral-info
        @include grid-core-span(10, $fluidGridColumnWidth, $fluidGridGutterWidth)
        float: left
        margin-top: -50px
        h4
          margin-bottom: 0px
          font-size: 18px
          color: $principalColor
          font-family: $serifFontFamily 
        .name,
        .url,
        .users
          display: inline-block
        .name,
        .url
          margin-left: 20px

        .result
          margin-bottom: 18px
          margin-left: 14px
          padding-top: 10px
          border-top: 1px solid #C1C1C1
          color: #929292
      .accordion
        .settings_content
          padding-top: 0
          margin-top: -2px
        h6
          border-bottom: 1px solid #CCC
          a
            color: $principalColor !important
        div.client-secret,
        div.client-id
          form
            margin-top: -20px
            input
              &[type="submit"]
                border: none
                box-shadow: none
                &:hover
                  background-color: $white !important
                  color: $principalColor

            p
              padding-left: 10px
        div.client-id
          h6
            margin-top: 0px
        div.client-secret 
          word-wrap: break-word
          min-height: 22px
          width: 100%
          input
            &[type="submit"]
              padding-right: 0px
  .tabbable
    #contact-filter
      @include filter
    #add-contact-link
      @include btn-primary
      margin-right: 8px
      margin-left: 8px
      float: right
    .btn-group
      button
        @include btn-primary
        &:first-child
          @include border-right-radius(0px)
          @include border-right-radius(0px)
        &:last-child
          @include border-left-radius(0px)
          @include border-left-radius(0px)
    .tab-content
      overflow: visible
      padding-top: 20px
      .contact
        @include contact
        width: 170px
        float: left
        margin-left: 12px
        .add
          @include btn-add
          margin: 0 0 0 60px
          padding-top: 27px
      .soften
        display: none



/*create screen*/

form#new_application,
form#new_organization
  @include principal-box

#site_client_form,
  min-height: 315px
  padding: 0px !important
  @include forms
  div
    clear: both
.edit_application
  .next-step
    margin-top: -40px
    margin-right: 20px
    @include btn-primary

form#new_application
  padding-bottom: 50px
  section
    @include forms
  .name
    max-height: 50px
    min-height: 65px
    padding: 20px 2.5% 0px

  .url,
  .callback_url
    max-height: 50px
    min-height: 65px
    padding: 0px 2.5% 0px
  .callback_url
    textarea
      max-height: 20px
      min-height: 20px

  .description
    max-height: 50px
    min-height: 96px
    padding: 0px 2.5% 0px
  input
    &[type="submit"]
      @include btn-primary
      float: right
      margin: 0 15px 18px 0
  
a.next-step
  margin: -44px 20px 0 0
  @include btn-primary 
  float: right

.site_client_roles
  .next-step
    clear: both


/*edit screen*/

#edit_site_client,
#new_site_client-modal
  padding-top: 9px
  .edit_site_client,
  .modal-body
    form
      @include forms

  .edit_site_client
    width: 100%
    margin: 0 0 20px 0
    .logo
      @include principal-box
      clear: both


  section.delete
    clear: both
    @include principal-box
    &:hover
      border-color: $red !important
      a
        color: $red !important
    header
      margin-bottom: 0
    #destroy_site_client-content
      padding-left: 15px
      a
        color: $red !important

.edit_form,
.create_logo_app
  @include principal-box
.edit_form
  margin-bottom: 20px

.edit_site_client
  width: 100%
  margin: 0 0 20px 0
  .logo
    @include principal-box
    clear: both

.new_app,
.edit_form,
.create_logo_app
  input
    &[type="submit"]
      @include btn-primary 
      float: right

.create_logo_app
  .avatar-progress
    width: 90%
  .next-step
    margin: -44px 20px 0 0
    @include btn-primary 
    float: right

#edit_site_client 
  .edit_site_client 
    form textarea
      min-height: 20px
      max-height: 19px
      float: none

  input
    &[type="submit"]
      margin: 0

