#site_client,
.site_clients

  .tabbable
    ul
      width: 100%
      float: left
      margin-left: 0
    .search-nav
      width: 30%
      float: left
    .tab-content
      clear: both
      margin-left: 10px
      margin-right: 10px

  a.new_site_client-modal-link
    float: left !important
    margin-left: 10px

.site_clients
  width: 100% !important

.new_site_client,
.site_clients,
#site_client
  #toolbar
    display: none