//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
  #home
    width: 100% !important
    margin-left: 0px
    .home
      margin-top: 12px
      .applications
        margin-bottom: 40px
      .organizations
        margin-bottom: 30px
      .applications,
      .organizations,
        width: 93%
        margin-top: 20px
        display: block
        min-height: 120px



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px)


