<header class="navbar">
  <nav class="navbar-inner">
    <div class="logo-header">
      <a href="/" class="logo-header">
        <img alt="FI-WARE IdM" class="logo" src="/assets/header-logo.png">
      </a>
      <a href="/home" class="brand">
        Fi-Ware
      </a>
    </div>
  
    <ul class="oil-portal">
      <li class="cloud">
        <a href="#">
          cloud   
        </a>
      </li>
      <li class="market">
        <a href="#">
          market
        </a>
      </li>
      <li class="active">
        <a href="#">
          Idm
        </a>
      </li>
    </ul>
  </nav>
  <%= render partial: 'layouts/header_signed-in' %>
</header>